[2018-07-02 08:55] #421 closed, assigned to AaronLiDangkun

[2018-07-02 10:41] joelin109 commented on #417
<br>

## 2. 导师批改
- [ ]  2.1.  导师批改学生作业界面，点击‘完成批改’跳转错误
[code]

[2018-07-02 10:57] joelin109 commented on #416
## 4、后台管理-私塾学生
- [ ] 4.1、后台管理→点击私塾学生→点击学生（SS_Jenny）→点击分配任务→点击编辑→点击单词 from（）to (），老师分配单词学习任务的时候，建议系统上可以把10000个基础词汇表放出来，老师可以在系统上直接选择学习哪部分的单词，或者可以查找对应部分的单词。不然老师每次布置词汇学习的时候，还得另外打开自己的词汇表文件，并且自己逐个找对应的部分，比较麻烦。
[code]

[2018-07-03 10:06] iYuanYuan2 commented on #416
## 2、学习首页
- [x] 2.1 学完视频课程，并完成练习后，无法直接回到“我的学习”页面。重新输入link登录“我的学习”野蛮后，“视频”任务仍然显示“待完成”，练习已显示“已完成”
[code]
-  2.2 词汇测试 - 立即测试：没有小喇叭，这个需求我想确认下。
![image](https://user-images.githubusercontent.com/35132688/42212637-4476359a-7ee9-11e8-9b62-c9a6a841b2e1.png)
-  2.3 词汇测试 - 立即测试：没有词性，这个需求我想确认下。

[2018-07-03 11:29] zhuyichun commented on #417
- [ ] 学生做题进入习题测试页面，头部导航不应该定位的是‘个人中心’  -P2
[code]

[2018-07-04 09:25] #406 closed, assigned to daweilv

[2018-07-04 10:36] zhuyichun commented on #417
## 4上架前模块测试
- [ ]  4.1学习首页显示‘本周作业’，‘历史作业’。叫‘历史作业’不合适

[2018-07-05 02:22] #419 closed, assigned to daweilv

[2018-07-05 09:14] #396 closed, assigned to kimliss

[2018-07-06 02:34] zhuyichun commented on #417
## 6.导师批改
- [ ] 6.1 导师打开学生作业不能批改 （#422）
[code]
- [x] 6.2 导师批改：学生作业 - 没有默认选中样式
[code]
[code]
- [x] 6.3导师进入导师批改界面，点击学生没有提交的作业，弹窗提示错误
[code]

[2018-07-09 03:17] zhuyichun commented on #416
- [ ] 1.注册页面样式混乱
- [ ] 2.修改密码页面，密码输入框是明文，应该用'*'代替

[2018-07-09 05:24] joelin109 opened #422 "Realese-v2.3.2.1: 版本发布- 测试问题遗留列表"
## 1. 学习系统
- [x] 1.1. 本周作业：词汇测试-  有些单词出现2个重复的中文选项（如301-305）     @Aaron
[code]
- [x] 1.2. 本周作业：习题作业-  题目上线数量为25    @Kim
[code]
[code]
[code]

- [x] 1.3. 课件播放页：左边树结构- 点击的Lesson习题，显示K12语法测试 -   @Kim
[code]
- [ ] 1.4. 本周作业：习题作业-  右上角显示答对率（客观题）  @Kim
[code]
- [ ] 1.5. 本周作业：反馈习题-  打开反馈习题后，状态没有改变还是‘未完成’  - `Nice to have` @Kim

<br>
<br>

## 2. 商城 & 购买

<br>
<br>

## 3. 个人中心

<br>
<br>

## 4. 导师批改   - `Ki

[2018-07-09 05:25] joelin109 commented on #422
## 1. 学习系统（私塾模块）
-  1.2. 学习系统-词汇学习：点击喇叭，应该有喇叭播放的效果  -P4
- [ ] 1.3. 安卓app打卡弹出框头部变形
- [ ] 1.4 老师批改-学生作业：试卷批改页面添加‘老师必须批改’的标识 ，方便老师批改试卷-jerry
- [ ] 1.5 学习系统-学习首页-历史作业：导航‘学习首页’鼠标悬浮出现的下划线样式不对  -jerry
- 1.6 app上完成的习题任务，状态没有更新  -jerry

[2018-07-09 05:26] joelin109 commented on #422
## 2. 商城 & 购买
- 2.1 pc端首页加载慢且没缓存
[code]
-  2.2 wechat浏览器打开支付页面会有2次刷新
[code]
-  2.3 新人优惠券获取失败   - `P4`
[code]

[2018-07-09 05:26] joelin109 commented on #422
## 3. 个人中心
- [ ] （3）2018-07-19：想要修改密码，但是输入了一个格式正确但是不存在的账号，这个提示语说“系统异常”，用户还以为我们的系统有问题。。
step1：点击登入学习→忘记密码→输入手机号：13848105601；
step2：点击 获取验证码，显示“系统异常，请稍后重试”
建议：把提示语改掉。-Jenny

[2018-07-09 05:27] joelin109 commented on #422
## 4. 导师批改
- [ ] 4.1 导师打开学生作业不能批改 （#444 1.1）
[code]
[code]

[2018-07-09 05:28] #417 closed, assigned to kimliss, zhuyichun

[2018-07-09 08:36] joelin109 commented on #422
## 版本发布注意事项：
- [x] 1. 整理习题历史数据整理 （#407）
[code]

<br>
<br>
<br>

## 8、待确认需求
-  8.1、学习首页：视频作业的状态
[code]

[2018-07-10 10:04] joelin109 opened #423 "Realese-v2.3.2: 私塾模块 - 演示"

[2018-07-10 10:16] daweilv commented on #378
[Widget Preview](http://dev.bstcine.com/widget)

[2018-07-10 10:32] Anawangqi commented on #384
### 词汇学习-卡片式-手机版

1.开始学习-卡片正面
![ip- -1](https://user-images.githubusercontent.com/32318334/42504726-32630924-846f-11e8-8d10-386af79cdd60.png)

2.词义解释-卡片背面（图片+文字）
![ip- -2](https://user-images.githubusercontent.com/32318334/42504747-4659312e-846f-11e8-9f3e-a16b84d62adc.png)

3. 卡片夜晚模式+背面无图模式
![ip- -3](https://user-images.githubusercontent.com/32318334/42504818-7bfd6c3c-846f-11e8-9f07-8c7300112ad6.

[2018-07-11 06:40] #408 closed, assigned to joelin109

[2018-07-11 08:31] joelin109 opened #424 "PC-Tool: Crawler- 抓取网上的习题数据"
目标：
https://www.zhishinet.com

[code]

- [x] Step1. 确认一下能否抓该网站的数据
- [ ] Step2. 抓总复习的所有词汇语法习题

[code]

<br>
<br>
<br>

## api
- 登陆
[code]
- 获取教材
[code]
[code]
- 获取课本
[code]
[code]
- 获取单元
[code]
[code]
- 获取知识点
[code]
[code]
- 获取词汇语法
[code]
[code]

[2018-07-11 09:36] #423 closed, assigned to nobody

[2018-07-12 11:18] Anawangqi opened #425 "UI-词汇学习-卡片式学习 -Mobile版"
### 词汇学习-卡片式-手机版
<界面：功能简介>

1. **功能引导**：
进入卡片式学习，首先出现界面功能提示，简要引导介绍各区域按钮功能

2. **单词发音**：
点击单词，及周边区域，立即有单词发音

3. **单词字体大小**：
单词字体尽量往大显示，当单词或词组较长时，字体随界面区域自动调整大小（在一定的大小区域间适应）， 中文释义同

4. **左右单词切换**：
左右划动词汇学习界面，则切在单词之间切换（学习上一个单词，或学习下一个单词）

5. **上划操作**：
在单词下方，界面中间上划时，表示用户已认识此单词，同时弹出单词不再显示对话框，确认或取消此操作

6. **菜单设置**：
点击词汇学习右下角的菜单按钮，则弹出设置：
  - 英音，美音切换，打开英音的开关时，美音的开关自动关上，反之相同
  - 自动播放，打开自动播放时，可设置单词习学的间隔秒数（UI部

[2018-07-12 11:28] Anawangqi commented on #425
### 词汇学习-卡片式

1. 功能引导页

![ip- -0](https://user-images.githubusercontent.com/32318334/42631733-a3c0edee-860d-11e8-85e5-8524367c4647.png)

2.单词学习-默认背景-正面（单词及发音）

![ip- -1 -1](https://user-images.githubusercontent.com/32318334/42630251-ae4a1786-8608-11e8-894a-5c335a23d91f.png)

3. 单词学习-默认背景-背面（中文释义）+弹出设置

![ip- -1 -2](https://user-images.githubusercontent.com/32318334/42630281-ca9f589c-8608-11e8-8999

[2018-07-13 02:17] joelin109 opened #426 "H5-学习系统: 词汇学习-卡片式"
## 需求
- [ ] 1. 卡片式学习
- [ ] 2. 词汇测试规则调整
[code]

#### 交互图
https://pro.modao.cc/app/nHS4ruXc3vBL3butulc1ukvSlsHYli8#screen=s16A807A0991532339006162

测试问题反馈 #448

[2018-07-16 01:37] joelin109 commented on #422
## 学生全部作业
#### 学生查看模式
![stutasksforstu](https://user-images.githubusercontent.com/23466882/42740558-b66b65fc-88db-11e8-89da-19323cd2eb6f.jpg)
#### 老师查看模式
![stutasksformentor](https://user-images.githubusercontent.com/23466882/42740557-b4b14a92-88db-11e8-9a8e-22d18526036e.jpg)

[2018-07-16 06:00] joelin109 opened #427 "PWA-组件规范：G模块整理-对外提供GLayout & GLayoutContainer"
## 需求
- [ ] 1.  三种Alert(Alert&Confirm&Toast)的组件，归类到g/component
[code]
- [ ] 2.  G 模块 代码整理到 src/client/g
[code]

<br>
<br>

- 目前调用格式
[code]

<br>
<br>

- 建议1
[code]

<br>
<br>

- 澄清
[code]

[2018-07-16 09:16] joelin109 opened #428 "Readme-私塾模块：操作说明- 导师部分 & 学生部分"
## 私塾模块-导师 基本操作说明
### 前提
[code]

### 1: 后台登录
[code]

<br>

### 2：分配任务
[code]
### 2.1.  在私塾学生列表中，找到相应的学生，点击‘分配任务’。
![私塾学生列表](https://user-images.githubusercontent.com/23466882/42794447-61c6aa30-89b1-11e8-942b-6109e4252330.jpg)

<br>

### 2.2. 分配任务页面
[code]
![sm6](https://user-images.githubusercontent.com/23466882/42755611-832d10fa-892b-11e8-80b3-59c3a14f5556.jpg)
#### 2.2.1. 分配任务页面 - 点击“添加”，弹出“新建”任

[2018-07-17 04:11] joelin109 commented on #428
## ‘导师批改‘页澄清
[code]
#### 学生作业 - 默认显示学生本周作业。
- (学生)任务状态：
[code]

- (导师)批改状态：最后一列
[code]

[2018-07-17 12:19] zhuyichun commented on #422
- [ ] 新人优惠券获取失败
[code]

[2018-07-18 01:36] #373 closed

[2018-07-18 01:43] joelin109 commented on #426
- [ ] 7.2. 单词学习内容，与底部的测试按钮之前有一条线，没有显示，如图：
<img width="1021" alt="2018-07-02 10 16 32" src="https://user-images.githubusercontent.com/32318334/42142297-24f79dde-7de1-11e8-8ae9-82862e420919.png">

- [ ] 7.3. 词汇学习， 序号，单词，音标，喇叭之间不是特别齐，能否尽量显示在一条水平线上，如图：
<img width="308" alt="2018-07-02 10 18 03" src="https://user-images.githubusercontent.com/32318334/42142368-82bb637e-7de1-11e8-9bb4-40b27f0553cd.png">

[2018-07-18 01:52] #416 closed, assigned to daweilv, zhuyichun, AaronLiDangkun, Anawangqi

[2018-07-19 09:41] joelin109 opened #429 "H5-营销活动: 让用户通过扫码或者点击链接, 自动领用优惠券功能"
[code]

[2018-07-19 09:51] zhuyichun commented on #429
本次书展活动是下周日，希望最迟2017/07/26能完成

为了配合近期的营销活动，需要增加一个优惠券自动领用功能，能够让用户通过扫码或者点击链接，直接在手机上自动领用优惠券，并且领取后，优惠券能自动发放到用户账户。
领取步骤如下图：
其中Step2的界面可能需要Ana设计一下。
[大致的交互界面](https://pro.modao.cc/app/LIuvD7BySpjpTjNyrZ1VHdvjGbAy1Qe)

[2018-07-19 09:54] zhuyichun commented on #429
测试用例：
- [ ] 1.扫码后跳转页面是否正确
- [ ] 1、访问后页自动生成的优惠券是否和后台设置的一致（标题、价格、有效期）
- [ ] 2、登录状态点击‘点击立即领取’按钮是否跳转到我的优惠券界面
- [ ] 3、在我的优惠券界面查看新增加的优惠券是否和访问页面生成的优惠券一致（优惠券码、价格、标题、有效期）
- [ ] 4、优惠券能否转让
- [ ] 5、优惠券能否使用
- [ ] 6、未登录状态点击‘点击立即领取’按钮是否跳转到登录界面

[2018-07-19 10:43] AaronLiDangkun opened #430 "iOS-代码清理：网络模块代码整理"
- [ ] 1.重构下载模块
[code]

<br>
<br>

### 待确认
- [ ] 2.1. 修改控制器网络请求逻辑：
[code]

- [ ] 2.2. 修改网络模块架构
[code]

[2018-07-20 03:06] AaronLiDangkun commented on #429
api参考: /api/web/createCoupon

[2018-07-20 05:58] joelin109 opened #431 "For-Jerry: 待提供的交互图"
- [x] 1. 学习系统：词汇学习- 列表式&卡片式&测试。 For #426
- [x] 2. 学习系统：私塾学习作业打卡。 For #435
- [x] 3. 学习系统：课程学习页- 包含课件播放 & 习题 & 词汇学习。
- [x] 4. PC-Admin：习题管理- 习题导入 & 维护 & 提交待审 & 审核通过。 For #434

[2018-07-20 06:01] #393 closed

[2018-07-23 06:11] Anawangqi opened #432 "UI-词汇学习-卡片式学习-PC版"
UI-词汇学习-卡片式学习-PC版

更新到 #426

[2018-07-23 08:24] Anawangqi commented on #432
**1. 背单词学习入口**
![pc_ _0](https://user-images.githubusercontent.com/32318334/43060512-d9b6686a-8e83-11e8-94cf-1e1c1c30edb7.png)

**2. 单词学习-正面**
![pc_ _1](https://user-images.githubusercontent.com/32318334/43065521-b016cca0-8e94-11e8-8ccc-a401aaa1532d.png)

**3. 单词学习-背面 中文释义**
![pc_ _2](https://user-images.githubusercontent.com/32318334/43065528-b62cc914-8e94-11e8-8001-a4ceda9d1512.png)

**4. 学习设置**

[2018-07-25 01:49] #429 closed, assigned to AaronLiDangkun

[2018-07-26 07:00] AaronLiDangkun opened #433 "IOS-学习系统: 课件播放页- 课件已下载，某些用户打开会一直显示“加载中”"
小助手反馈：
昨天又有一个用户因为下载了课程后（疯狂学校chapter3/lesson3），然后重新打开时出现“加载中”而看不到课程的问题。最近不少用户在下载后打开对应课程时遇到这个问题，而且下载的课程是不一样的，但情况一样。目前的解决办法是 把下载的课程删掉就好了。这个问题我试过操作，但不能重现，看看大家有没有什么其他想法

[2018-07-27 02:51] joelin109 opened #434 "PC-Admin: 习题管理- 习题导入 & 维护 & 提交待审 & 审核通过"
## 需求
- 维护习题
[code]
- 审核习题
[code]

<br>

## P1
- [x] 1.1. 知识点导入 & 维护    - #447
[code]
<br>
<br>

## P2
- [x] 2.1. 填空习题列表
- [x] 2.2. 填空习题编辑页面
- [x] 2.3. 习题审核列表
- [x] 2.4. 习题审核编辑页面
[code]
[code]

- [ ] 2.5. 习题导入
[code]
- [ ] 2.6. 习题维护包含知识点
[code]

<br>
<br>

## P3
- [ ] 3.1. 单选习题列表
- [ ] 3.2. 单选习题编辑页面
- [ ] 3.3. 简答习题列表
- [ ] 3.4. 简答习题编辑页面

[2018-07-27 02:52] #424 closed, assigned to kimliss

[2018-07-27 03:03] joelin109 commented on #426
## PC 端
**1. 词汇学习入口**
![default](https://user-images.githubusercontent.com/20130469/43300569-8771b0ac-9192-11e8-845d-2114350bef6b.png)

<br>

**2. 卡片式**
![default](https://user-images.githubusercontent.com/20130469/43300642-edc7855c-9192-11e8-8c67-5e49baf83a15.png)

<br>

**3. 单词已认识界面**
![default](https://user-images.githubusercontent.com/20130469/43300648-f06e9f5c-9192-11e8-938a-88f07d799b4e.png)

[2018-07-27 03:04] #432 closed, assigned to nobody

[2018-07-27 03:20] joelin109 opened #435 "H5-学习系统: 学习首页-私塾作业完成后打卡"
## 需求
- 学习周数：从老师布置的第一个作业开始
- 生词数量：词汇作业的词汇数量相加
- 语法点数量：课件作业Lesson的语法点数量相加
[code]
- 视频课件时间：课件作业Lesson的时长相加
- 英文写作：作文作业数量（新作业类型）

[2018-07-27 03:25] joelin109 opened #436 "H5-学习系统：课程播放页- 当前页可显示课件播放 & 习题 & 词汇学习"
## 新版课程（课件）播放
- [ ] 1. 代码更新为新版的H5（React & Redux)
- [ ] 2. 左边Lesson的目录树结构：包含“Lesson对应的练习”
- [ ] 3. 针对“老师or管理员”， 可维护课件的知识点 #439
- [ ] 4. 当前页可显示 习题 & 词汇学习

[2018-07-27 03:34] #331 closed

[2018-07-27 05:44] #52 closed

[2018-07-27 05:45] #60 closed

[2018-07-27 05:46] #109 closed

[2018-07-27 05:47] #134 closed

[2018-07-27 05:48] #151 closed

[2018-07-27 05:49] #153 closed

[2018-07-27 05:52] #166 closed

[2018-07-27 05:53] #188 closed

[2018-07-27 05:54] #191 closed

[2018-07-27 05:55] #200 closed

[2018-07-27 05:56] #227 closed

[2018-07-27 05:57] #265 closed

[2018-07-27 05:57] #260 closed

[2018-07-27 05:58] #278 closed

[2018-07-27 06:01] #354 closed

[2018-07-27 06:07] #428 closed, assigned to zhuyichun, joelin109

[2018-07-27 07:12] joelin109 opened #437 "PWA-组件规范：client/component- 清除useless dirty code"
### client/component下需删除：
- [x] 1. G........
- [x] 2. Alert
- [x] 3. Confirm

[code]

[2018-07-27 07:16] joelin109 commented on #427
本issue完成后，接下来进行垃圾代码清理 #437

[2018-07-27 07:24] joelin109 opened #438 "H5-学习系统: 词汇学习- Chapter&Lesson对应的词汇"
## 需求
[code]

[2018-07-27 07:48] joelin109 opened #439 "H5-学习系统：课程播放页- 对视频课件可添加知识点标签"
## 需求
[code]

[2018-07-27 08:12] joelin109 opened #440 "iPad-学习系统：添加私塾模块 - Duplicated issue"
## 需求
- 把私塾模块更新到iPad-App中

[2018-07-30 03:38] #427 closed, assigned to daweilv

[2018-07-30 05:57] joelin109 opened #441 "H5-学习系统: 学习首页-私塾导师评价反馈"
## 需求
[code]

[2018-08-01 06:56] zhuyichun commented on #372
单词维护
疯狂校园2：图片提示没有字体
怦然心动缺失分段

[2018-08-01 07:39] kimliss commented on #434
## 列表
### 查询条件：
更新时间：（默认最近一周）
状态：（失效、待提交、待审核、审核通过、审核失败）

<br>

### SQL
[code]

<br>

### 知识点导入规则：
[code]

[2018-08-01 10:14] joelin109 opened #442 "API-购买与支付：支持信用卡跨境支付"
## 需求
[code]
[code]

<br>
<br>

### 目前情况, 使用Solution3
[code]

<br>
<br>

### Stripe收费
https://stripe.com/us/pricing

- 2.4.02

[2018-08-01 10:16] #437 closed, assigned to daweilv

[2018-08-01 10:34] joelin109 opened #443 "H5-学习系统: 词汇学习- 词汇起点评估建议"
### 需求
[code]
- [ ] 1.1 调整数据表名称
[code]
[code]

<br>

-  2.1 确认测试数据来源 & 算法
[code]

<br>

### 交互图
https://pro.modao.cc/app/J37hkgCdLXnQA84GhQbGY6RMl86aLdO#screen=s52812BD6411533884903025

[2018-08-02 03:24] joelin109 commented on #434
## 习题审核
### 审核列表页面
![1 5](https://user-images.githubusercontent.com/23466882/43699523-af418c8c-9981-11e8-9266-e85096da9bf6.jpg)
[code]

<br>
<br>

### 审核编辑页面
![3](https://user-images.githubusercontent.com/23466882/43568899-7cbb08f4-9668-11e8-9406-771c88f0c541.jpg)
[code]

[2018-08-03 03:16] joelin109 opened #444 "私塾模块-导师: 导师分配&查看&批改- 待改进问题列表"
## 基础数据 & 后台管理
### P1
- [x] 1.1 私塾分享：可以配置默认的“学习时间” & “词汇数量” & “语法点” & “Lesson视频时长” & “作文数量” - `Verified`
[code]
- [x] 1.2 PC-Admin：导师分配任务- 添加新任务“线下- 第** 周线下作业汇总”
[code]
![271538116174_ pic_hd](https://user-images.githubusercontent.com/23466882/46193281-2fa52a00-c330-11e8-9677-a7d25b34dc40.jpg)

<br>
<br>

### P2
- [ ] 2.1 任务列表：一级节点只可展开与收起，不可选择打钩
- [ ] 2.2 在新建/编辑任务界面，增加布置作文功能，导师可在线添加作文题目&作文说明。学生可以回

[2018-08-03 03:17] joelin109 commented on #444
## 1. 学习系统（私塾模块）
- [ ] 1.1 历史作业：学习首页 -》历史作业；导师批改-》学生作业-》全部作业
[code]
#### 学生查看模式
![stutasksforstu](https://user-images.githubusercontent.com/23466882/42740558-b66b65fc-88db-11e8-89da-19323cd2eb6f.jpg)
#### 导师查看模式
![stutasksformentor](https://user-images.githubusercontent.com/23466882/42740557-b4b14a92-88db-11e8-9a8e-22d18526036e.jpg)

[2018-08-03 03:19] joelin109 commented on #444
## 4. 导师批改
- [ ] 4.1 导师打开学生作业不能批改 （1.1）
[code]
[code]

[2018-08-03 04:00] zhuyichun commented on #434
## 交互：
https://o9gex8.axshare.com

[2018-08-03 07:34] zhuyichun commented on #385
查询订单表有效期与统计表有效期不一致：
[code]
更新统计表订单有效期：
update t_statorder a,t_order b set a.expire_at=b.expire_at where a.order_id=b.id and b.delete_by is null and b.status=1 and b.`pay_status` =1 and a.expire_at <> b.expire_at

[2018-08-06 02:43] daweilv commented on #442
## Solution 1 : 国际支付宝
https://global.alipay.com/products/online

### Settlement
1. Supported currencies
USD, EUR, JPY, GBP, CAD, AUD, SGD, CHF, SEK, DKK, NOK, NZD, THB, HKD
Settlement Mode
2. Settlement per amount: when to-be-settled amount reaches or exceeds 5000USD (the lower limit), the total amount of to-be-settled fund will be transferred to the receiving bank account of the merchant.
Alipay

[2018-08-06 03:14] daweilv commented on #442
## Solution 2 : 信用卡支付
TRY 1：VISA
经电话联系 VISA 客服确认：VISA 不直接跟商家合作，商户希望使用 VISA 需要和银行谈，与银行签约。也就是说，如果希望支持招商银行信用卡，需要去和招商签约。如果希望支持农业银行信用卡，需要去和农业签约。这样信用卡只能支持国内支付，支不支持外汇支付需要和银行方咨询。
苹果官网之所以支持信用卡直接支付，是因为苹果本身就是持牌机构。

[2018-08-07 08:20] joelin109 commented on #377
#326

## 发布时待处理列表
- [ ] 1. ??????

[2018-08-07 11:02] joelin109 commented on #434
![Add-Keypoint](https://user-images.githubusercontent.com/23466882/43772206-f499b0f0-9a73-11e8-9746-b5d147af68e4.jpg)

[2018-08-08 11:38] Anawangqi commented on #439
### UI-PC
![kjplay-](https://user-images.githubusercontent.com/23466882/43879518-0fa09080-9bd7-11e8-892d-bbbdcd2b6088.jpg)

[2018-08-08 11:43] Anawangqi commented on #439
1. 下拉式
![pc- -](https://user-images.githubusercontent.com/32318334/43834824-2d08eab8-9b42-11e8-8a63-56f92d059065.jpg)

1.1 下拉展开
![pc- - 1](https://user-images.githubusercontent.com/32318334/43834882-6fd2e95c-9b42-11e8-9641-acec5893ab80.jpg)

2.单选式
![pc-](https://user-images.githubusercontent.com/32318334/43834842-41547208-9b42-11e8-9538-06f29d0e0336.jpg)

2.2 单选式-展开
![pc- -1](https://user-images.g

[2018-08-09 02:56] zhuyichun commented on #434
测试问题反馈 #451

属于 #410

[2018-08-09 09:42] zhuyichun commented on #426
## PC
- [ ] 列表式显示单词有问题
[code]

[2018-08-13 01:49] joelin109 opened #445 "Realese-v2.4: 测试发现新问题反馈列表"
## Must fix
- [x] 1.1-6、词汇测试的选项UI错乱[查看图片](https://user-images.githubusercontent.com/20130469/45099271-76509b80-b159-11e8-87e7-6913d154bd51.jpeg) - `David`
[code]
- [x] 1.2. 商城：课程详情页- 用户没有登录时，点击分享，分享成功后会提示‘user_not_fonud’   - `David`
[code]
- [x] 1.3. ipad 个人中心-我的优惠券：添加按钮只显示一点点弧度，都快找不到了 - `David`
[code]

- [x] 1.4、登录官网，在密码重置的页面，输入一个没有注册过的账号，提示语为”系统异常，稍后重试”，建议更换提示文字为“此号码尚未注册，请注册后重试”。- `Jerry`
[code]

[2018-08-15 02:47] zhuyichun opened #446 "PC-Admin:知识点测试反馈"

[2018-08-15 02:52] zhuyichun commented on #446
- [ ] 1.查询响应时间点不对
[code]
- [ ] 2.增加、修改没有对多空格进行判断

[2018-08-15 07:02] joelin109 commented on #434
### 知识点维护流程如下：
#### 来源1: 第3方抓取&生成的“第3方知识点维护文档”，通知老师
[code]

#### Step1: 线下-“知识点维护文档”：维护整理。
[code]

#### Step2: 系统（PC-Admin) ：导入“维护文档”
[code]

#### Step3: 系统（PC-Admin) ：调整与修改
[code]

#### Step4: 线下-“知识点维护文档”：修改或添加新知识点
[code]

#### Step5: 系统（PC-Admin) ：调整与修改
[code]

<br>
<br>

### 澄清备注：
[code]

[2018-08-15 07:04] joelin109 opened #447 "PC-Admin: 习题管理- 知识点导入与维护"
## 需求
- [x] 1.1. 知识点导入 & 维护
[code]

[code]
- [ ] 1.2. 单词知识点：从10000个单词导入
[code]

[code]

[2018-08-15 07:04] joelin109 commented on #447
## 知识点维护流程如下：
[code]

#### Step1: 线下-“知识点维护文档”：维护整理。
[code]

#### Step2: 系统（PC-Admin) ：导入“知识点维护文档”
[code]

#### Step3: 系统（PC-Admin) ：调整与修改    - `Owner: May`

#### Step4: 线下-“知识点维护文档”：修改或添加新知识点
[code]

#### Step5: 系统（PC-Admin) ：调整与修改       - `Owner: May`

<br>

### 澄清备注：
[code]

[2018-08-15 09:27] zhuyichun commented on #447
## 知识点
-  1.查询响应时间点不对
[code]
-  2.增加、修改没有对多空格进行判断
[code]

- [x] 3.知识库中这个知识点的状态是无效状态，批量提交后这个知识点状态更改为有效，修改时间为提交时间  -bug p2
- [x] 4.知识点导入‘保存成功’提示错误 -bug -p3
[code]
-  5.知识点后台手工添加相同知识点没有提示这个知识点已存在 -优化 -p3
[code]
- 6.知识点后台手工修改保存时候没做检查，导致知识点不唯一。 -bug -p1
[code]
测试反馈在 #451

[2018-08-17 03:36] zhuyichun commented on #415
# 习题&知识点
### 习题导入
case 1:习题含有知识库不存在的知识点   --这道习题导入失败，其余导入成功
case 2:习题知识点与知识库知识点相同   --导入成功并且将知识点与这道习题关联
case 3:习题没有知识点   --习题导入失成功
### 知识点导入

[2018-08-17 06:35] joelin109 opened #448 "H5-学习系统: 词汇模块 - 测试反馈列表"

[2018-08-17 06:42] joelin109 opened #449 "H5-学习系统: 词汇课程学习- top10000分3门课程（入口在学习首页）"
## 需求
[code]

![wechatimg45](https://user-images.githubusercontent.com/23466882/44251706-ea1f1880-a22b-11e8-81a0-79a255c0378f.jpeg)

[2018-08-17 06:49] zhuyichun commented on #447
# 习题
- [ ] 1、习题批量导入每次添加相同的题目

[2018-08-17 07:03] iYuanYuan2 commented on #448
## 1. 词汇课程页
- [ ] 1.1.

[2018-08-17 07:11] zhuyichun commented on #445
- [x] 1、手机web普通学生访问个人中心显示核心语法测试链接
- [x] 2、用户没有登录时候详情页分享提示‘user_not_fonud’
- [x] 3、个人中心-我的优惠券：添加按钮颜色不对
- [x] 4、登录官网，在密码重置的页面，输入一个没有注册过的账号，提示语为”系统异常，稍后重试”，建议更换提示文字为“此号码尚未注册，请注册后重试”。
- [ ] 5、APP课程学习打卡没有成功提示打卡成功
[code]
- [x] 6、词汇测试的选项UI错乱[查看图片](https://user-images.githubusercontent.com/20130469/45099271-76509b80-b159-11e8-87e7-6913d154bd51.jpeg)
[code]
-  8、ipad 4个人中心-我的测试：词汇量测试列表UI-列表分割线颜色混乱，随机的深浅不一致

[2018-08-17 07:46] joelin109 opened #450 "H5-个人设置: 我的优惠券- 调整显示内容"

[2018-08-17 07:52] Anawangqi commented on #450
### 优惠券版式调整

PS: 优惠券默认描述显示两行（两条），超过两条可点按钮展开。只有两条，则不城显示展开按钮，没有描述则不显示。

### 手机版

**1. 未使用**
![app_](https://user-images.githubusercontent.com/32318334/44254316-070c1980-a235-11e8-8803-b28d6eb470bd.png)

**2. 已使用，已过期**
![app_ -](https://user-images.githubusercontent.com/32318334/44254314-06738300-a235-11e8-9530-0df5f1863a83.png)

### PC版
![pc- - -2](https://user-images.githubusercontent.com/32318334/

[2018-08-20 06:25] joelin109 opened #451 "PC-Admin: 习题管理- 知识点&习题维护的测试问题反馈列表"
## Must fix
### 知识点
- [x] 1.1. 查询条件：类型（可查询非单词的）& 修改者（账号） -`p1` - `?`
[code]

<br>

###  习题导入
- [ ] 2.1 结果列表：显示字段- LessonID、题型、状态、更新时间、题干（固定长度显示），知识点
[code]

<br>

### 习题列表
- [ ] 3.1. 编辑习题：预览放在添加的旁边（可以是文字链接 或 小Button）

<br>

### 待审核列表
- [x] 4.1-2.10审核通过后，管理员可以修改习题   -`p1`
[code]

- [ ] 4.2. 查询列表：不要文字“勾选”，底部“全选” 与 “提交”Button 分开。
参考 [UI设计](https://user-images.githubusercontent.com/23466882/43699523-a

[2018-08-20 06:44] zhuyichun commented on #451
### 2、习题审核
- [ ] 2.1查询结果展示不对，包含知识点查询显示错误
[查询条件不含知识点](https://user-images.githubusercontent.com/20130469/44323664-66606880-a485-11e8-9e1e-37380a9a488b.jpg)
[查询条件包含含知识点](https://user-images.githubusercontent.com/20130469/44323697-90b22600-a485-11e8-8959-bcd83a555025.jpg)

[2018-08-20 08:25] #447 closed, assigned to kimliss

[2018-08-20 09:54] #426 closed, assigned to AaronLiDangkun

[2018-08-21 01:40] joelin109 commented on #451
### 1、知识点
- [x] 1.1查询条件：名称、类型（可多选复选框）、时间区间、修改者（账号）-优化-p1
- [x] 1.2所有导入功能页面添加导入模板下载链接，点击下载模板
- [ ] 1.3 规范老师账号信息 -Alice
- [ ] 1.4 知识点查询条件参数错误,点击简答查询会将更多查询中的参数作为条件查询
[code]
### 2、习题维护
- [x] 2.1单选题、简答题、填空题，审核页面知识点查询获取不到数据 -bug -p1
- [ ] 2.2 查询条件中将查询按钮大小调到和添加按钮一致 -优化-p3
- [ ] 2.3 习题列表：点击修改将错误的lessonId输入点击保存提示“更新失败，system_error” -优化-p3
[code]
- [ ] 2.4 习题列表：点击修改没有对专用做验证，是专用但lessonID为空也能保存 -bug -p2
- [ ]

[2018-08-21 03:00] daweilv commented on #442
## Solution 3 : stripe.com
支持集成到我们系统
#### 注册
https://dashboard.stripe.com/register
#### 完善信息
https://dashboard.stripe.com/account/details

[code]

[2018-08-21 03:01] daweilv commented on #442
## Solution 4 : squareup.com
手工通过邮件给客户发账单，客户支付。未找到第三方集成相关 API

[code]

[2018-08-22 06:50] #449 closed, assigned to AaronLiDangkun

[2018-08-22 07:01] joelin109 commented on #424
#410

[2018-08-22 07:01] joelin109 commented on #447
#410

[2018-08-22 07:16] joelin109 commented on #435
属于 #410

## PC UI （本周作业不需要下滑线）
![learn-home](https://user-images.githubusercontent.com/23466882/45012521-01427080-b04a-11e8-8138-04dc534a7f42.jpeg)

[2018-08-22 07:16] joelin109 commented on #436
### UI-PC
![kjplay-](https://user-images.githubusercontent.com/23466882/43879518-0fa09080-9bd7-11e8-892d-bbbdcd2b6088.jpg)
[code]

<br>
<br>

属于 #410
#459

[2018-08-22 07:17] joelin109 commented on #439
属于 #410

[2018-08-22 07:19] joelin109 opened #452 "H5-学习系统: 学习首页- 背单词模块（包含top10000课程 ）"

[2018-08-22 07:19] joelin109 commented on #452
#410

## PC UI
![learn-home](https://user-images.githubusercontent.com/23466882/45012521-01427080-b04a-11e8-8138-04dc534a7f42.jpeg)

[2018-08-22 07:21] joelin109 commented on #449
#410

测试反馈，  #448

#459

[2018-08-22 07:21] joelin109 commented on #443
#410
#459

[2018-08-22 07:21] joelin109 commented on #426
#410

[2018-08-22 07:22] joelin109 commented on #438
#410
#459

[2018-08-22 07:28] joelin109 commented on #442
#410
#459

[2018-08-22 10:21] joelin109 opened #453 "临时促销: 开学季团购&满赠活动需求 (Deadline-20180829)"
## 临时促销

- [x] 1.1、我们会在`有赞`渠道销售课程，Jenny会定期提供一个订单的Excel。
因此需要定期（每天）批量的开通用户的学习权限，包括已有善恩账号的老用户和尚未注册过账号的新用户。- `Kim` - [有赞导入文档.xlsx](https://github.com/bstcine/cine-tasklist/files/2327328/rev3.xlsx) - `Done`

[code]
[code]
- [x] 1.2、我们会有一个满368元赠90元优惠券的活动。需要在固定日期区间内（比如9/1-9/7）去判断用户在这期间购买课程的实付累积金额是否超过368，如果超过则赠送一张价值90的图书优惠券，并且在发券后用户能够有短信通知。在此期间内每名用户仅限领取一张图书优惠券。- `Kim`
[code]

<br>
<br>

### 测试前提供：
- [x]

[2018-08-22 11:18] #434 closed, assigned to kimliss

[2018-08-23 03:33] AaronLiDangkun commented on #440
1. iPhone 项目中，在学习界面顶端添加私塾任务列表
2. iPad 项目中，学习界面完全替换为H5学习首页

[2018-08-23 05:38] #446 closed, assigned to nobody

[2018-08-23 06:30] zhuyichun commented on #452
起点评估颜色背景：https://github.com/bstcine/cine-tasklist/issues/449

[2018-08-23 06:31] zhuyichun commented on #448
起点评估颜色背景：#449

[2018-08-23 07:07] joelin109 commented on #448
## 2. 课程单词起点评估
- [x] 2.1 需求：起点评估的测试范围是1-10000，只需要测一次既可以知道从学习起点。并且直接跳转至需要学习的词汇区域。  - `Alice`

[2018-08-23 07:16] joelin109 commented on #448
##  3. 词汇学习-卡片式&列表式
- [x] 3.1 显示中文释义的地方，词性和中文解释中间需要空一格 `Alice`
[#click](https://user-images.githubusercontent.com/35132688/44513045-ed644980-a6ee-11e8-998f-bcd2dfe2e20e.JPG)
[code]
-  3.2 卡片式随机播放状态下，点击已认识连续多个情况下页面显示空白（测试点击10个左右吧）-jerry-bug
[code]
- [ ] 3.3 箭头颜色需要加深，显示灰色会误以为是不能点击操作- `Alice`
[#click](https://user-images.githubusercontent.com/35132688/44513812-07069080-a6f1-11e8-9625-df025b105de7.JPG

[2018-08-23 07:18] joelin109 commented on #448
##  4. 词汇学习- 测试
[code]
- [x] 4.1 共11道词汇，答对10道，提示已掌握所有单词   - `Alice`
[code]

-  4.2 单词中的干扰项，来源于这10个单词（不确定是否正确，但是测试中看着很怪） - `Alice`
[code]
-  4.3 进入词汇课程页面会两次刷新  账号ssjerry/cine- `Jerry`
[code]
- [ ] 4.4 词汇测试：选错的选项后，希望停留的时间为5S
[code]
-  4.5 我的学习 - 词汇课程:‘我的学习’鼠标悬浮状态图片和文字的下划线不一致，不在同一条水平线

[2018-08-24 06:30] joelin109 commented on #448
### 大家针对需求的反馈
-  5.1、首次进入“背单词”页面，建议显示如何使用 `Alice`
-  5.2 建议学完一遍的时候 设置提醒下已经学完一遍。 `Alice`
-  5.3 需求--UI需要重新调整 `Alice`
[#click](https://user-images.githubusercontent.com/35132688/44513586-55fff600-a6f0-11e8-8ebc-5da600e58d7c.JPG)
- [x] 5.4. 选中“自动播放“按钮：`Alice`
[code]
- [ ] 5.5 进入背单词页面，无法找到单词的中文释义以及点击下一个单词的位置。
[code]

-  5.6
[code]
- [ ] 5.7 建议测试起点在1-500区间添加分段,单词基础差的测试结果都是从1开始不合理 -Jerry
- [ ] 5.8 测试背单词

[2018-08-24 07:40] joelin109 commented on #435
## 分享后UI - 已取消
![1](https://user-images.githubusercontent.com/23466882/44571634-e0f5f480-a7b3-11e8-8e8c-1d0c8cc579fd.png)

[2018-08-24 10:40] zhuyichun commented on #453
- [ ] 1.1建议添加查询按钮，点击查询复合调发送优惠券条件的用户  -优化
- [ ] 1.2 等于388的用户没有获取到优惠卷  -Bug

[2018-08-27 06:41] itwangxiang commented on #453
1. 校验数据合理性
   1.1 手机号、课程ID、实付金额
   1.2 手机号是否非法
   1.3 实付金额是否纯数字并且大于等于0

2. 查询数据库是否存在手机号对应多条用户

3. 查询数据库是否存在课程ID

4. 查看数据库订单是否重复

[2018-08-28 04:03] daweilv commented on #435
Q1:
二维码跳到什么地方需要想清楚
[code]
Q2:
私塾老师的头像、简介字段缺少，作文、作文篇数、知识点字段缺少

[2018-08-28 07:15] joelin109 commented on #453
### 测试基本用例
- [x] 2.1 新用户添加成功
-  2.2 新用户属性：积分、密码
[code]
- [x] 2.3 多次导入，只创建一条订单
[code]
- [x] 2.4 收到开通课程短信通知
- [x] 2.5 收到优惠卷短信通知，账号中有该优惠卷
- [x] 2.6 优惠卷只发送一条
- [x] 2.7 优惠卷可以正常使用
- [x] 2.8 优惠券备注信息提示仅用于图书
- [x] 2.9 通知用户课程开通成功的短信错误
- [ ] 2.10 网站统计后台-订单明细报表：有赞订单支付方式错误

[2018-08-28 10:19] iYuanYuan2 commented on #453
## 测试反馈
- [x] 3.1 新添加的用户（有赞）有个来源标识
[code]
- [x] 3.2 优惠券名称要改下，改成："买课赠书活动券"

<br>
<br>

## 发布准备
- [x] 4.1.创建优惠券短信模板
[code]
此次开学季满赠活动的优惠券模板：
【善恩英语】{#coupon_name#}码：{#coupon_no#}，已添加到您的账户，有效期至{#expire_at#}。请至官网或APP中“教材教辅”栏目挑选喜爱的图书。

[2018-08-30 08:14] #453 closed, assigned to kimliss

[2018-08-31 07:17] joelin109 opened #454 "iOS-iPhone：V-2.4.1（包含私塾模块）"
### 前提条件
- [x] H5-学习系统：词汇学习模块- 调整起点学习评估（使用新的算法来算起点） #468

<br>

### 1. 学习模块 （含私塾）
- [x] 1.1. 我的学习- 添加词汇学习模块 - `Verified`
- [x] 1.2. 我的学习- 添加私塾模块
[code]

#### 1.3 Lesson播放页- “练习”
- [x] 1.3.1. Lesson播放页，点击“练习”， 打开新的H5习题页面（参考PC)
- [x] 1.3.2. 课程目录页：下载完待“练习”的Lesson。最新打开Lesson播放页，无法看到“练习” **   - `Verified`**
- [ ] 1.3.3. 把“练习”放在课程的Lesson树上面  - `P3`
[code]

<br>

#### 1.4 我的学习- “核心词汇”&"词汇学习"
- [x]  1.4.1

[2018-08-31 08:33] kimliss commented on #451
# Run Sql
### 将知识点自增长初始值设置为 100000
- [x] www
- [x] dev
[code]

[2018-08-31 08:52] kimliss commented on #451
# Run Sql
### 清空知识点,习题以及关系表 - `dev`
- [x] dev
[code]

[2018-09-04 01:42] zhuyichun commented on #452
- [ ] 1.建议测试起点在1-500区间添加分段，
- [ ] 2.测试背单词起点的1-1000区间难度有些大

[2018-09-05 03:07] Anawangqi commented on #435
### 私塾分享-新版 (2018-09-07) - 取消
![-0903-5](https://user-images.githubusercontent.com/32318334/45068804-c8fb6a80-b0fb-11e8-9947-a2b12a2385fd.png)

[2018-09-05 07:38] joelin109 opened #455 "H5-学习系统：词汇学习模块- 重新调整UI & 整理中文翻译等"
### 词汇模块重新调整部分
- [x] 1. 学习首页: 词汇课程入口                             - `P2`
- [x] 2. 词汇课程: 善恩核心10000词汇- 分10个大批次（1000一个）    - `P2`
- [x] 3. 词汇学习: 只显示根据词性对应的中文翻译（且只显示2个） - `P2`
- [x] 4. 起点评估: 善恩核心10000词汇- 起点评估测试过程，中文干扰项的词性应该与正确选项的一致                - `p3`
[code]
- [ ] 5.  词汇课程: 善恩核心10000词汇- 起点学习评估-通过`新的算法`来算起点             - `p3` #468

[2018-09-05 07:55] joelin109 commented on #455
#410

[2018-09-05 10:07] Anawangqi commented on #455
## 卡片式学习-PC版

**1.1 词汇学习入口- 无测试成绩**
![pc_ _0 -1](https://user-images.githubusercontent.com/32318334/45086692-61aedc00-b136-11e8-93e2-f6a85dfcfb44.png)

**1.2 词汇学习入口- 有测试成绩**
![pc_ _0](https://user-images.githubusercontent.com/32318334/45086776-9753c500-b136-11e8-8f25-ffd1e5b5d972.png)

<br>

**2.正面英文**
![pc_ _1](https://user-images.githubusercontent.com/32318334/45086662-4fcd3900-b136-11e8-9a6c-a4

[2018-09-05 18:43] bitcl2 commented on #234
哥们，可以试试百度人脸识别。教育行业人脸识别登录典型应用例子是乂学教育，就是中央一套天天播的那个松鼠AI。
另外看到您一个对比各教学平台的issue特别感兴趣，希望能多交流。
email： love1@mail.bitcl.win

[2018-09-06 06:31] joelin109 commented on #455
### 2. 课程单词起点评估
- [x] 2.2、中文释义:  释义有点奇怪且与 http://www.youdao.com/ 中文释义不一样
[code]

<br>
<br>

### 3. 词汇测试
- [x] 3.1. 测试都对：然后显示“完成词汇作业任务，返回学习首页” ， 点 `确定`没反应
[code]

[2018-09-06 06:32] #448 closed, assigned to zhuyichun, AaronLiDangkun, JENNY-BSTCINE

[2018-09-06 08:43] #452 closed, assigned to nobody

[2018-09-07 08:21] joelin109 commented on #410
## 发布前准备如下
- [x] 1. 私塾导师图片 & 描述信息  - `@Jerry & @Alice`

[2018-09-07 09:35] zhuyichun commented on #426
未完成部分迁移到#445

[2018-09-10 06:57] zhuyichun commented on #415
## 支付测试
序号		优惠券		积分		  活动卷		现金
1		pc			pc		  pc		         pc
2		pc			App		  App		App
3		pc			wechar	  wechar	         wechar
4		App			pc		  App		wechar
5		App			App		  wechar	        pc
6		App			wechar	  pc		       App
7		wechar		pc		  wechar	      App
8		wechar		App		  App	     wechar
9		wechar		wechar	  pc		    pc

[2018-09-10 10:44] zhuyichun commented on #455
1、已认识（打钩后，不再显示）

[2018-09-11 02:53] joelin109 opened #456 "Realese-v2.4: 发布前测试的问题反馈列表"
## Must fix
### 1. 私塾分享  - `David`
- [x] 1.1、必测用例：私塾老师的头像和文字都应该有 -`Joe`
[code]
 - [x] 1.2、将提醒文字改为悬窗格式 – `Alice`
[code]
 - [x] 1.4、导师的介绍文字为两行时，不居中 – `Alice`
[code]
- [x] 1.5、 私塾分享没有上周作文 -`jerry`
[code]
- [x] 1.6、ipda 打卡分享页面长按不能保存图片 -`jerry`
[code]
<br>
<br>

### 2. 词汇模块
- [x]   2.1 、没有发音图标
- [x]   2.3 、卡片式学习：No. 101-122，“自动播放”时，当下的单词不发音也不显示中文释义-`Alice`
[code]
- [x] 2.4、卡片式学习：ipad 随机播放一直没有朗读 -`jerry

[2018-09-11 02:53] joelin109 commented on #456
## 1. 私塾分享
- [ ] 1.1、必测用例：私塾老师的头像和文字都应该有 -`Joe`

 - [x] 1.2、将提醒文字改为悬窗格式，文字修改为：“长按屏幕”保存图片，并分享至朋友圈 – `Alice`
 - [x] 1.4、导师的介绍文字为两行时，不居中 – `Alice`
[code]
- [x] 1.5、 私塾分享没有上周作文 -`jerry`
[code]
- [ ] 1.6、ipad 4：私塾分享页面竖屏UI比较难看、-`jerry`
- [x] 1.7、语法点数目不对 -`jerry`

 - [ ] 1.8、分享图片显示学习了8周，后台显示只布置过4次作业。且其他数据无从追溯，有点懵– `Alice`
[code]
- [x] 1.9、ipda 打卡分享页面长按不能保存图片

[2018-09-11 02:53] joelin109 commented on #456
## 2. 词汇模块
-  2.3、卡片式学习：点击随机播放当前第一个单词没有朗读 -`jerry`
- 2.4、ipad 4web 词汇测试：选项有背景色 -`jerry`
- [x]   2.5 、卡片式学习：No. 101-122，“自动播放”时，当下的单词不发音也不显示中文释义-`Alice`
[code]
- 2.6 、卡片式学习：测试完成后，未通过本次测试，回到词汇学习页面，应显示“再次学习”-`Alice`
[code]
- [x] 2.7 、卡片式学习：No. 101-122 those的词性没有 [ ]，may的音标显示很奇怪 ，中文释义和词性之间需要空一格-`Alice`
-  2.8、卡片式学习：ipad 随机播放一直没有朗读 -`jerry`
[code]

- [x] 2.12、卡片式学习：pad版英文字体太小180PX中文84px，手机版英文120px中文60p

[2018-09-11 02:54] joelin109 commented on #456
## 3. 其它
- [ ] 3.1、miniPAD APP登录账号或密码错误没有提示  -bug
- [ ] 3.2、ipad4 购买课程-在善恩收银台 选择支付宝支付，成功支付后返回app一直停留在收银台页面显示‘正在等待支付....’
- [x] 3. 3、后台管理：课程编辑页面缺失语法点维护字段
- [x] 3. 4、课程详情页推荐的积分的位置下移[28411536721836_ pic](https://user-images.githubusercontent.com/20130469/45401453-45092b80-b683-11e8-8318-de083f651acc.jpg)
- [x] 3. 5、私塾作文类型题目图标空白

[2018-09-12 02:45] Anawangqi commented on #435
### 私塾分享-新版 (2018-09-12)

![-0911-3](https://user-images.githubusercontent.com/32318334/45398971-e5a61e00-b678-11e8-8bbf-07561afcceac.png)

[2018-09-12 06:42] itwangxiang commented on #386
## Run SQL - 纪录 Lesson 下 每个 tag 的时间
- [ ] Dev
[code]

[2018-09-12 09:23] Anawangqi commented on #384
### 1. 选择有效期
![pc- -1](https://user-images.githubusercontent.com/32318334/45415530-73513000-b6b0-11e8-9cd0-dd44ab1057ea.png)

### 2. 订单支付
![pc_](https://user-images.githubusercontent.com/32318334/45617589-5ef0a700-baa5-11e8-9db5-70386b0c9bcc.jpg)

[2018-09-13 05:35] #435 closed, assigned to daweilv, Anawangqi

[2018-09-14 09:18] #456 closed, assigned to daweilv, zhuyichun, AaronLiDangkun, Anawangqi, iYuanYuan2

[2018-09-14 09:21] joelin109 opened #457 "Realese-v2.4.2: 测试发现新问题的反馈列表"
## 即将发布
### B. iPadAPP: V-2.4.2 - `2018-12-13` - `Aaron`  #474
[code]

### C. AndroidAPP: V-2.4.2（包含私塾模块） - `2018-12-13` - `Kim`
- [x] C1. 添加PV& UV 统计数据
- [x] C2. 快速注册时，需增加可选择国家号码的选项 （参考H5）  #343
- [x] C3. APP上的图片显示需要支持绝对路径（包含https）
- [x] C4. APP上的头像需要上传到OSS
[code]

### D. H5:  添加PV& UV 统计数据 - 2018-11-28 -`David`
[code]

<br>
<br>

## P0           - `发布后发现的P1Bug`  -  `立马解决`
- [ ] 01. 学习系统：课件播放页- 记

[2018-09-14 09:21] joelin109 commented on #457
## For Jerry
### 紧急测试

<br>

### 紧急交互
- [x] 2.1.  后台管理： 2级页面-口碑好评   #472

<br>

### 紧急数据维护
- [ ] 3.1 后台配置：?

[2018-09-14 09:22] #445 closed, assigned to kimliss, daweilv, zhuyichun, AaronLiDangkun

[2018-09-14 10:16] joelin109 commented on #457
## 已解决列表
### www
#### 小补丁2.4.02   - `2018-09-29`
- [x] 1.  私塾模块-导师: 导师分配待改进问题 , #444  - `David` - `Verified`
- [x] 2. 网站数据统计分析: 课程播放学习  #460  - `Kim` - `Verified`
[code]
- [x] 3. 字母很长(<=15个) 的单词页可以正常显示    - `Aaron` - `Verified`
- [x] 4. 购买与支付：支持信用卡跨境支付  #442
[code]

- [x] 1.1.  PC-Admin：Lesson的习题导入 - `Kim`  - `Verified`
[code]

<br>

#### 小补丁2.4.03   - `2018-10-24`
[code]
- [x] 1.1. 学习系统：“核心词汇”-卡片

[2018-09-14 10:23] zhuyichun commented on #457
### 3

- [ ] 3.1、私塾单词任务：词汇学习页面UI序偶乱
[查看图片](https://user-images.githubusercontent.com/20130469/45140282-db050800-b1e4-11e8-9d6d-66b7161e20e8.jpeg)
[code]
-  3.2-  某一时间段网站卡的厉害
-  3.3-  某一时间段登录页面需要数次登录才登录成功
-  3.4-  私塾模块：老师分配任务，不能显示这个课程的所有目录树
[code]
- [ ] 3.5-  私塾模块：学生已经完成这个单词任务又显示为待完成
[code]

[2018-09-16 03:41] zhuyichun opened #458 "Realese-v2.41: 补丁列表"

[2018-09-16 03:42] zhuyichun commented on #458
- [ ] 1.搜狗浏览器和IE不能正常访问官网
[code]

[2018-09-16 03:44] #458 closed, assigned to nobody

[2018-09-17 02:01] joelin109 opened #459 "H5-学习系统: 私塾模块&词汇模块&数据统计分析- 第3阶段"
### 1. PC-Admin：基础数据  -`Kim`
- [x] 1.1. PC-Admin: 习题管理- 知识点&习题维护的测试问题反馈列表    (#451)
- [ ] 1.2 收集记录用户在每个课程上的实际学习时间。 具体细节， #386 #387

<br>
<br>

### 2. 学习系统 - `David`
-  [ ]  2.1. H5-学习系统：课程播放页- 当前页可显示课件播放 & 习题 & 词汇学习 #436
-  [ ]  2.2. H5-学习系统：课程播放页- 对视频课件可添加维护“知识点”标签   #439
[code]

<br>
<br>

### 3. 学习系统 - 词汇模块 -`Aaron`
-  [x]  3.1. H5-学习系统: 学习首页- 添加top100003门课程  #452
-  [x]  3.2. H5-学习系统: 词汇课程学习-

[2018-09-17 02:09] joelin109 commented on #451
#459

[2018-09-17 02:09] joelin109 commented on #386
#459
#460

[2018-09-17 02:16] joelin109 commented on #455
#459

[2018-09-17 02:17] #410 closed, assigned to nobody

[2018-09-17 02:56] joelin109 opened #460 "网站数据统计分析: 订单 & 课程播放学习 & 用户访问"
## 数据分析
### 1. 一元购的用户转化分析，列出所有参与苏斯一元购的用户清单
- [x] 1.1 一元购是其第一次下单，并列出其在第一次下单后其它的下单记录，
[code]

用户账号 | 名称 | 下单时间 | 课程名称 | 实付金额
-- | -- | -- | -- | --
  |   | 苏斯一元购下单时间 | 《cat in hat》 | 1
  |   | 在苏斯一元购之后，同一用户购买其它课程的下单时间 | 《神奇树屋》 | 20
  |   |   |   |  
小计 | 用户个数 |   | 苏斯购买数小计 |  
  |   |   | 其它课程购买小计 |  

<br>

- [x]  1.2 一元购不是其第一次下单

用户账号 | 用户名称 | 下单时间 | 名称 | 支付金额
-- | -- | -- | -- | --
  |   | 在苏斯一元购

[2018-09-17 07:20] daweilv commented on #442
Q1：订单统计后台希望以怎样的展示方式把“美元”表示出来？
/admin/tool/queryStatOrders
![image](https://user-images.githubusercontent.com/7405300/45610084-4ffdfa80-ba8d-11e8-8b38-c1c927510763.png)

[2018-09-17 08:08] joelin109 opened #461 "H5-商城: 课程详情页- 可选择“2年有效或永久有效”不同有效期进行购买"

[2018-09-17 09:42] zhuyichun commented on #451
## 遗留问题
-  [x] 5.1.需要支持具有不同类型知识点的习题上传  -verified

[2018-09-17 10:14] Anawangqi commented on #384
### 手机版
![app_ -1](https://user-images.githubusercontent.com/32318334/45617614-716ae080-baa5-11e8-81c2-733fb79e37dc.png)

[2018-09-18 01:55] kimliss commented on #386
## Run SQL - 课程学习播放记录
- [x] Dev & www
[code]

[2018-09-18 03:28] itwangxiang commented on #386
1. api: updateLearnStatus
`{media_id:0,last_tag:0,duration:0}`
2.

[2018-09-18 06:58] joelin109 commented on #442
### 手机版
![app_ -1](https://user-images.githubusercontent.com/32318334/45617614-716ae080-baa5-11e8-81c2-733fb79e37dc.png)

<br>
<br>

### PC版
![pc_](https://user-images.githubusercontent.com/32318334/45617589-5ef0a700-baa5-11e8-9db5-70386b0c9bcc.jpg)

[2018-09-18 07:18] Anawangqi commented on #457
![02 -0](https://user-images.githubusercontent.com/32318334/45670705-0decbb80-bb56-11e8-803f-f1f94b692c93.png)

[2018-09-18 07:42] kimliss commented on #460
### 首次一元购 SQL
[code]

### 非首次一元购 SQL
[code]

### 所有一元购 SQL
[code]

[2018-09-20 03:50] Anawangqi commented on #454
私塾学习首页-新

![ip_ - -1](https://user-images.githubusercontent.com/32318334/45794891-61cce100-bccb-11e8-8d1e-66b47b427ad9.png)

[2018-09-20 10:12] joelin109 opened #462 "学习系统：课件播放-在视频课件中加入邱老师个人微信号的需求"
### 需求
![viewfile](https://user-images.githubusercontent.com/23466882/45855887-c6984200-bd84-11e8-8b73-73c62033c676.jpg)
[code]

#### 需求调整更新
[code]

<br>
<br>

### Deadline
[code]

[2018-09-20 10:16] daweilv commented on #461
目前订单系统的痛点：
1. total_price、price、pay_price 字段定义模糊

2. discount_price 与 coupon_discount、balance_discount、point_discount 逻辑不清晰，算法复杂

3. 金额最小单位元，浮点计算时出现的小数点(分)计算不便

4. 套餐订单实际被不合理的拆分了多条订单

5. 不支持购物车结构

6. remark 字段实际提供给业务员使用，但实物订单的情况下又提供给用户使用

[2018-09-21 02:39] daweilv commented on #461
## 旧版特性：
- [x] 1.1. 支持显示优惠价、原价
- [x] 1.2. aa课程+bb课程组成套餐
- [x] 1.3. 信用卡美元购买（不考虑支持任何优惠抵扣），如，私塾课程
- [x] 1.4. 分享后免费开通课程
- [x] 1.5. 是否可用优惠券开关
- [x] 1.6. 是否可用积分开关
- [ ] 1.7. 【TBD】xx课程可补差价升级套餐
- [ ] 1.8. 【不考虑支持】需要购买xx课程才能购买该课程，如，毅学小班
- [ ] 1.9. 【不考虑支持】xx课程在购买了aa课程后再购买会优惠

<br>
<br>

## 新版特性：
#### 新版将支持的特性：
- [x] 2.1. xx课程可选2年、5年或N年有效期
- [ ] 2.3. 未上架产品可以显示在商城首页

#### 新版能支持的特性：
- [x] 3.1. xx课程且可从2年升级到N年(5年

[2018-09-25 02:00] daweilv commented on #461
Q1:客户已购套餐A（一年有效期 360元），想升级套餐B（五年有效期 999元），业务流程如何操作？

升级流程：
a. 按套餐A剩余时间/1年换算剩余可退的金额，先把套餐A订单退掉，然后再补差价购买套餐B；
或者
b. 直接在套餐A的基础上续套餐B的五年

个人倾向 b 方案，续套餐A和续套餐B对于逻辑侧都是续费的概念，逻辑好处理。

[2018-09-25 09:57] zhuyichun commented on #442
- [x] 1、pc&iOS-web&Andr-web好了，APP端没好
- [x] 2、课程详情页面价格应该显示$***,不是￥***

[2018-09-27 06:49] daweilv commented on #442
iOS详情页逻辑特殊，暂不支持APP国际支付，改为提示到PC端支付

[2018-09-27 09:12] kimliss commented on #386
# 1. Run SQL - 表规范
- [x] Dev & www
[code]

# 2. Run SQL - 纪录 Lesson 下 每个 tag 的时间
- [ ] Dev
[code]

[2018-09-28 02:04] joelin109 opened #463 "Android-Phone&Pad：V-2.4.1（包含私塾模块）"
### 1. 使用H5页面接入
- [x] 1.1 学习首页 - `Verified`
- [x] 1.1.1 建议：学习首页的每个课程应显示各自的课程有效期。之前反馈说，这次的版本会解决这个问题。-Jenny
[code]
##### 1.2. 学习首页：私塾作业

- [x] 1.2.1. 私塾打卡：直接调用Wechat  - `Verified`
- [x] 1.2.2. 习题作业：打开H5习题作业 （quiz/kj?task_id） - `Verified`
- [x] 1.2.3. 习题PDF：直接给原生提示框 - `Verified`

- [x] 1.2.4. 词汇作业：打开H5词汇学习  （/lword?）
- [x] 1.2.5 习题PDF：建议提示框的文字改为：请登录网址：www.bstcine.com/learn 下载对应的习题PDF  -by Jenny
[code

[2018-09-28 02:15] joelin109 opened #464 "PC-后台管理: 习题管理- 课件的知识点导入与维护"
### 需求
- [x] 1. 提供一个规范的课件知识点维护文档   - `P1`
[code]
| course_short_name        | lesson_short_name           | tag_seq  | tag_no  | keypoint_word  | keypoint_phrase  | keypoint_grammar  |
| -----------:|--------------------:| -----:| -----:| -----:| -----:| -----:|
| SAT语法     | Chapter 1/Lesson1  | 1 | 137946 |
| SAT语法     | Chapter 1/Lesson2 | 2 | 137948 |
| SAT语法     | Chapter 1/Lesson3 |  3| 1379

[2018-09-28 06:36] kimliss commented on #464
# Run SQL 课件知识点关联表
- [x] Dev & www
[code]

[2018-09-28 08:15] zhuyichun commented on #386
- [ ] 1、再次学习不能定位到对应的tag
[code]
- [ ] 2、第二次进入显示界面不对
[code]

[2018-09-28 10:36] zhuyichun commented on #444
- [ ] 1、不能添加作文说明
- [ ] 2、作文作业没有完成状态

[2018-09-28 10:42] zhuyichun commented on #444
- [ ] 1、作文标题和线下作业汇总都填写的情况会生成2个任务
[code]

[2018-09-29 03:01] #442 closed, assigned to daweilv

[2018-09-29 03:44] Willingkong commented on #457
1. 代理商发放新人95折优惠券规则
   问题：用户下单私塾订金后，在购买视频课程时就不能使用代理的新人95折优惠券
   建议：新人95折优惠券在查询用户是否有付费超过0.1元的历史订单是，只查询视频课程的购买记录。

[2018-09-30 01:54] #386 closed

[2018-09-30 03:46] #460 closed, assigned to kimliss

[2018-09-30 03:53] joelin109 commented on #457
## 小补丁2.4.02   - `2018-09-29`
- [x] 1.  私塾模块-导师: 导师分配待改进问题 , #444  - `David` - `Verified`
- [x] 2. 网站数据统计分析: 课程播放学习  #460  - `Kim` - `Verified`
[code]
- [x] 3. 字母很长(<=15个) 的单词页可以正常显示    - `Aaron` - `Verified`
- [x] 4. 购买与支付：支持信用卡跨境支付  #442
[code]

[2018-09-30 05:41] joelin109 commented on #444
## 老师反馈
- 有的学生2周学习一次
- 有的学生， 可能中间暂停 2-3周

[2018-10-08 02:27] joelin109 opened #465 "H5-商城: 2级页面-在线私塾&托福SAT&分级阅读"
#### 预先准备（依赖）：
- [x] Kim提供相应的API , #473
- [x] Jerry提供真实的配置数据，获得真实的API数据（www）
[code]

<br>
<br>

## 需求
- [x] 1.1. 在线私塾
[code]

- [x] 1.2. 托福SAT
[code]
- [x] 1.3. 分级阅读
[code]

<br>
<br>

### 交互
http://192.168.1.150:9080/ejym/index.html

[2018-10-08 02:57] joelin109 commented on #465
### 托福SAT UI
![25911538966129_ pic](https://user-images.githubusercontent.com/23466882/46590791-d8017e00-cae8-11e8-870d-73ea4b8e3fdc.jpg)

[2018-10-09 06:46] Willingkong opened #466 "IPTV视频合成问题"
之前我们提交的TS格式视频，上传到IPTV后台后，在播放的时候会在片头出现30-60S的黑屏。
电视台方面认为是我们的片源合成问题，并且重新提供了更为详细的视频参数，如下图：
![wechatimg51](https://user-images.githubusercontent.com/33111306/46651286-17f06000-cbd2-11e8-9ec7-c6adaeb9d88b.jpeg)

[2018-10-10 01:25] zhuyichun commented on #465
## 技术任务 - `From Joe`
- [x] 1.1.  数据： 获取真实API的数据  - `Kim`
[code]
- [x] 2.1. UI：Banner 不同的2级页面需要显示不同的图片
- [x] 2.2. UI：核心课程- 课程列表
- [x] 2.3. UI：核心课程- 分级阅读页面
- [x] 2.4. UI：私塾导师 & 录课老师
- [x] 2.5. UI：口碑好评
- [x] 2.6. UI：精彩文章
- [x] 2.7. UI：资料下载

[2018-10-10 06:56] joelin109 commented on #462
## 1. “Nancy二维码”无法放`右下角`，建议放`左上角`的课程
[code]
#### 美国5大热点
[code]
#### 英美报刊双语精读
[code]

### 左上角范围参考
[code]
<br><br>
## 2. “Nancy二维码”放`右下角`会出现异常的课程 (除1外）
#### 树屋1：
[code]
[code]
<br>

#### 疯狂学校
[code]

#### 魔法手指
[code]
#### 哈利波特
[code]
####小王子
[code]
<br>

#### 人类故事
[code]
#### 莎士比亚
[code]
####  高考英语阅读真题精系列
[code]
####  托福口语精讲
[code]
### 托福写作
[code]
<br>

#### 右下角范围参考
[code]

目前进度：
等待Jerry分析评估数据
- Dea

[2018-10-11 06:19] AaronLiDangkun commented on #466
根据需求视频，初步合成ts样本
  1. 等级 baselin3.0 及 high5.1
  2. 视频编码器libx264，编码格式 H.264 ，视频取样帧率25fps，取样码率取决于图片质量（无法取到3800k）
  2. 音频编码器mp2/ac3两种，音频取样48khz, 标准取样码率128k

[2018-10-11 08:00] zhuyichun commented on #457
- 1.神奇树屋2测试题测试结束点击‘答题结束’没有反应
[code]
- [ ] 2、 H5-商城：切换tabs后类别和阶段选项还原为全部  -P2
-  3.手动开通订单，备注为必填项
- [ ] 4.批量注册用户对于系统中已经存在手机号仍然有一定概率注册成功 -BUG -P1
[createusers 下午1.49.10.xls.zip](https://github.com/bstcine/cine-tasklist/files/2477176/createusers.1.49.10.xls.zip)
- [ ] 5 用户订单有效期转换后系统自动同步订单
- [ ] 6 私塾任务习题标题字体建议改下，支持大部分标题在一行

[2018-10-12 03:35] Anawangqi commented on #465
### 1. 在线私塾
![1](https://user-images.githubusercontent.com/32318334/46846575-ace19c00-ce12-11e8-9922-5344bab8ed3c.jpg)

### 2.托福/SAT
![sat1](https://user-images.githubusercontent.com/32318334/46846574-ac490580-ce12-11e8-887d-cae8ff1b61ea.jpg)

### 3.分级阅读
![default](https://user-images.githubusercontent.com/32318334/46846572-abb06f00-ce12-11e8-9909-1cc2b9524c7a.jpg)

[2018-10-16 08:12] joelin109 opened #467 "双11活动-H5-商城: 课程详情页-添加分享助力优惠"
## 需求
- [x] Step1: 课程详情页：-`David`
[code]
- [x] Step2：抽奖弹框页：
[code]
- [x] Step3：抽奖分享（好友助力）页：
[code]

<br>

### 澄清：
[code]

<br>
<br>
<br>

## 技术
[code]

<br>
<br>
<br>

## 反馈
### Deadline
[code]
### 澄清
- 当优惠券的状态为使用中（即已下订单但未支付），好友抽奖会提示：`感谢您的助力，好友已成功购买！`
- 优惠券的有效期为 1个月

[2018-10-17 06:56] #444 closed, assigned to daweilv, zhuyichun

[2018-10-17 10:30] joelin109 commented on #461
![4461539766649_ pic](https://user-images.githubusercontent.com/23466882/47080463-9f754900-d23a-11e8-827d-b19ab3008eb2.jpg)

[2018-10-17 10:57] Anawangqi commented on #462
### 1. 二维码在右下角
![14110017scfzrcd-1](https://user-images.githubusercontent.com/32318334/47081798-35f73980-d23e-11e8-9fc8-59bdf2cd7f62.jpg)

### 2. 二维码在左上角
![213023257s4rr7sj-1](https://user-images.githubusercontent.com/32318334/47081819-44ddec00-d23e-11e8-8690-034822847615.jpg)

**Nancy老师二维码**
![qrcode_nancy_1](https://user-images.githubusercontent.com/32318334/47127431-ab571e80-d2bf-11e8-9be6-0f0e

[2018-10-18 01:47] joelin109 opened #468 "H5-学习系统：词汇学习模块- 调整起点学习评估（使用新的算法来算起点）"
- [x] 5. 词汇课程: 善恩核心10000词汇- 起点学习评估-通过`新的算法`来算起点
[code]

[2018-10-18 01:47] joelin109 commented on #468
#455

[2018-10-18 01:50] #455 closed, assigned to AaronLiDangkun

[2018-10-18 06:05] kimliss commented on #462
[code]
- [x] step 1 - 上传二维码图片(wm_qr_nancy_lt.png & wm_qr_nancy_rb.png)
[code]
- [x] step 2 - 新建样式
   1. top_left (style_ori_top_left...) `高级编辑里追加`+`/watermark,image_xxx,t_100,g_nw,y_5,x_0`
   2. bottom_right (style_ori_bottom_right...) `高级编辑里追加`+`/watermark,image_xxx,t_100,g_se,y_50,x_0`
[code]

<br>
<br>

### Style
- style_ql_qr_nancy_rb
[code]
- style_ql_qr_nancy_lt
[code]
- style_qm_qr_nancy_rb

[2018-10-18 07:45] zhuyichun commented on #454
###  学习模块 （含私塾）
- [ ] 词汇起点：测试背单词起点结果9001，点击确定后跳转到的是核心10000词列表

[2018-10-18 08:52] Anawangqi commented on #462
### 1.左上角水印
![wm_qr_nancy_lt](https://user-images.githubusercontent.com/32318334/47142556-b5940f80-d2f5-11e8-99bd-ceb2b4c71dfa.png)

### 2.右下角水印
![wm_qr_nancy_rb](https://user-images.githubusercontent.com/32318334/47142748-33f0b180-d2f6-11e8-80aa-c7e431407254.png)

[2018-10-22 06:24] joelin109 commented on #457
## 测试反馈-核心词汇模块
### 1. 词汇课程页面-善恩核心词汇10000
- [x] 1.1 词汇课程页面：当最新学习记录为第一个时，列表未展开  - `Joe`
[code]

<br>
<br>

### 2. 词汇学习页面
- [ ] 2.1. 学习首页→核心词汇→善恩核心词汇10000词1-1000→第一组→立即学习：右上角的 “帮助” 按钮无法点击。-Jenny
- [ ] 2.2. IOS app，学习首页→核心词汇→善恩核心词汇10000词1-1000→第一组→立即学习，点击“自动播放”，选择自动播放的时候，英文单词出现时间大概2-3秒，但是翻到中问后，中文只出现1秒，立刻到下一个，从体验上，感觉中文出现的时间是不是有点短… - Alice
[code]
- [x] 2.2. 卡片式：点击已认识，单词的状态没有立即更新，而是在显示下一个单词时才更新 -aaron
[c

[2018-10-23 01:51] zhuyichun commented on #463
#### 下载
- [x] 1、下载中的课件和已经下载的课件在 我的-我的下载看不到

[2018-10-24 01:54] #468 closed, assigned to AaronLiDangkun

[2018-10-24 09:38] joelin109 opened #469 "Readme-私塾模块：操作说明- 学生"
## 私塾学生基本操作说明
### 1：如何完成老师分配作业
[code]
![tasksofthisweek](https://user-images.githubusercontent.com/23466882/45998617-fb363180-c0d5-11e8-8ca3-f963cf954388.jpg)

<br>

### 2：如何打卡分享
[code]
![punchforthisweek](https://user-images.githubusercontent.com/23466882/45999222-a398c580-c0d7-11e8-9d83-5cab2b082a8b.jpg)
[code]

<br>

![img_3287](https://user-images.githubusercontent.com/23466882/46004853-7f90b0

[2018-10-25 03:44] zhuyichun commented on #454
### 3学习模块：
-  [x] 3.1.已经下载过lesson的课程断网状态下在学习首页打开课程，没有显示目录树  -bug  -p1 - `Verified`
-  [x] 3.2.背单词更改为核心词汇 -p1 - `Verified`
-  [x] 3.3.善恩核心10000词汇点击进入的title建议更改为词汇学习 - 优化 - `Verified`
-  [x] 3.4.善恩核心10000词汇点击分组进入的‘立即学习’也没title不是词汇任务，更改为词汇学习  - `Verified`
[code]

[2018-10-25 09:32] kimliss commented on #467
## 开发
### SQL
#### 1.  活动参与用户纪录表
- [x] WWW
- [x] DEV
[code]

### API
#### 1.  `/api/stats/activity/course/info` 课程活动参与用户纪录信息
- param：
[code]
- callback:
[code]
#### 2. `/api/stats/activity/course/update` 更新课程活动参与用户纪录
- param：
[code]
- callback:
[code]
- curl
[code]
### CODE
#### 1.  抽奖
[code]
### 逻辑
#### 1. 获取该抽奖活动信息 `queryUserActivity`

[2018-10-25 09:34] itwangxiang commented on #467
## 测试
- [ ]  queryUserActivity
- [ ]  updateUserActivity

[2018-10-26 03:03] zhuyichun commented on #454
### 4弱网
- [ ] 4.1. 卡片式学习：没有播放声音喇叭图标显示在播放，
[code]
- [x]  私塾作业-单词作业：测试通过后状态没有更改为已完成
-   私塾作业-视频作业：视频作业点击播放后3秒点击打卡分享后返回状态就显示已完成（视频没有看完）

[2018-10-26 09:52] JENNY-BSTCINE commented on #463
- [x] 学习首页-核心词汇：点击核心词汇1001-2000的第21组，点击立即学习，第一个单词默认没有发音，需要点击后才发音。-Jenny
- [x] 学习首页-下载了新概念1第一单元lesson1，下载完成后，断开网络，点击 我的下载，点击lesson1 ，课程显示 正在加载中，课程显示不出来。

[2018-10-29 04:04] Willingkong commented on #467
## UI - 课程详情页用户自己点开的弹框或者扫码跳转的H5
[code]
![wechatimg419](https://user-images.githubusercontent.com/33111306/47634278-edb80f80-db8b-11e8-8c82-93f008d67157.png)

整个界面中有三个用户可点击Button：
1. 点击抽奖，（在图片上，目前图片样式还未定）
    -第一次点击：弹出系统提示，文字：恭喜您抽中XXX元视频课程专用优惠券！（系统提示UI待提供）
UI样式：
![wechatimg420](https://user-images.githubusercontent.com/33111306/47634285-f6104a80-db8b-11e8-9146-92065c44cc3a.png)

    -第二次点击：弹出系统提示，文

[2018-10-29 07:35] #462 closed, assigned to zhuyichun

[2018-10-29 10:01] zhuyichun commented on #454
- [x] 1、本周作业进入习题右上角有列表式title
- [x] 2、全部作业进入点击线下作业样式古怪且不能滑动 -PCH5处理
[code]
- [x] 3、课程详情页学院评价“请点击用户口碑”，更改提示
[code]

- [x] 4、已下载的课程“练习”功能缺失
- [x] 5、核心词汇测试结束后卡顿

[2018-10-29 10:29] JENNY-BSTCINE commented on #457
## iOS APP
### 1. 私塾模块
- [ ] 1.1、 IOS app，点击我的学习→本周作业→作文，作文题目比较长的时候显示不全。
建议：题目显示不全时，点击题目，弹出框框，显示完整的题目信息。-Alice
- [x] 1.2、 IOS app，本周作业→点击 习题 魔法手指 lesson1/Exercise PDF, 出现的提示语请改为：请登录网址 www.bstcine.com/learn 下载对应习题 -Alice
- [x] 1.3、IOS app，点击学习首页→神奇树屋1课程→课程目录：客户服务 和版本申明的格式应跟PC端一致。PDF习题需要显示，点击出现弹窗，提示语为：请登录网址 www.bstcine.com/learn 下载对应习题  ；(适用于所有课程）-Alice
- [x] 1.4、 IOS app， 点击 我的学习→本周作业→单词 10000基础词汇

[2018-10-30 02:15] zhuyichun commented on #457
- [ ] 1.用户账号密码‘是否需要重置密码’设置为是，用户登录时提示错误
- [x] 2、核心词汇测试的的背单词起点，会在我的-我的测试：我的词汇量测试生成一条记录 -P1
- [x] 3、播放动物农庄lesson3最后一个tag结束后自动弹出动物农庄测试题（内容空只有标题）
- [x] 4、最后一个tag播放结束没有弹窗

[2018-10-31 05:43] joelin109 commented on #467
### 需求协商 - ` 2018-10-31`
“立即使用”
[code]

[2018-10-31 08:15] joelin109 opened #470 "iOS-iPhone：V-2.4.3 小补丁版本"
## 需求功能
### Must fix
- [x] 1.1 有一个用户在IOSapp上点击核心词汇功能，点不开，并且一点就一直快速闪屏。而且视频课程经常打不开，特别是在4G的情况下经常打不开。[视频查看](http://static.bstcine.com/2018/12/12/151330853Sf1gGsN.mp4)
[code]
- [x] 1.2. 学习系统：课程的Lesson目录列表需求待确认   - `Alice` - `待确认`
[code]
- [x] 1.3. 数据统计分析：APP 课件播放页面 & 首页 & 课程详情页 的 PV & UV
[code]
- [x] 1.4 优惠券数量显示异常 - `Eelin`- `Verified 20190103`
[code]
- [x] 1.5 登录后点击商城 新概念2第一单元 课程→立即购买 →点击 使用优惠券立减，没有显示

[2018-10-31 08:21] AaronLiDangkun commented on #470
- [ ] 1.数据统计分析：APP 课件播放页面 & 首页 & 课程详情页 的 PV & UV
[code]

[2018-10-31 08:21] #454 closed, assigned to AaronLiDangkun

[2018-11-01 02:42] zhuyichun commented on #467
- [ ] 营销活动-优惠活动：双十一活动课程管理日期 - bug

- [ ] 1、活动日期到期后延期无效
- [ ] 2、活动课程管理页面勾选课程提示***课程已参与同类型活动

[2018-11-01 04:46] zhuyichun commented on #457
### 4.后台管理
- [x] 4.1、后台管理-批量开通课程失败  -p1 -bug
- [ ] 4.2、后台管理-课程编辑：修改后课程图片丢失  -bug
- [ ] 4.3 双十一活动已过期的课程再次参加同类型活动还是提示“ 已开通同类型活动!”

[2018-11-01 05:25] zhuyichun commented on #374
#### 2018优化 优先处理3、4
- [ ] 1.课程管理-课程制作：限制chapter级别补录不能上传课件
- [ ] 2、批量上传功能需要支持批量上传图片或音频（音频图片一对多最好能做）
- [ ] 3、通过上传execl创建目录
[code]

[2018-11-02 01:37] joelin109 opened #471 "双11活动-PC-Admin: 导入来自“有赞”的优惠卷订单，发生对应的优惠卷给客户"
### 需求：
[code]

### 技术：
- 维护路径：PCAdmin-`营销活动`-`派发优惠卷`
- 维护操作人员：`Alice`或`小助手`

[2018-11-02 02:15] AaronLiDangkun commented on #438
Solution:
- [x] 1. 重定向本章单词链接
  status: 重定向回滚，重新回到原始单词测试界面
- [x] 2. 完善词汇学习api，正确获取本章单词列表
- [ ] 3. 完善已认识单词api，正确标记本章单词的认识状态
- [x] 4. 完善词汇测试结束api，正确标记本章单词的测试结果
- [x] 5. 完善错误单词api，将选择错误的本章单词标记出来

[2018-11-02 03:44] AaronLiDangkun commented on #438
### 暂停issue
reason: 需求未明确，需待需求明确后继续执行

[2018-11-02 09:16] JENNY-BSTCINE commented on #457
商城
在点击神奇树屋套餐立即购买后，页面显示各个课程的价格跟目前官网课程对应的价格不符。其他套餐课程也有这个情况。-P1 Jenny

[2018-11-02 09:34] Willingkong commented on #457
目前：在课程详情页面时，如果弹出登录框，登录后，试听视频会自动播放。
建议：试听视频只有在用户点击的时候再播放，不要有自动播放的情况。

[2018-11-03 03:11] zhuyichun commented on #457
### dev
- [ ] 1、注册页面没有‘已有账号’按钮

[2018-11-03 03:13] #469 closed, assigned to nobody

[2018-11-03 03:18] joelin109 opened #472 "PC-后台管理: 商城后台-课程管理- 口碑好评上传维护"
## 需求

### [口碑图片管理入口](http://dev.bstcine.com/admin/tool/manageComments)

[code]

[code]

<br>
<br>

### 后台路径：- 商城后台-课程管理-口碑好评
### 交互：
http://192.168.1.150:9080/kbhp/index.html

<br>
<br>

## 技术
### 表设计
[code]

### 数据保存到OSS
[code]

<br>
<br>

## 反馈

### Deadline
- 开始时间-2018/11/07
[code]

[2018-11-03 03:24] joelin109 commented on #457
## v2.4.1 第四次补丁 官网测试反馈
- [ ] 1.1、购买-支付：&&&&&
- [ ] 1.2、PC官网首页 英文名著阅读和托福/SAT/AP 筛选标签下的“听力”标签下没有合适课程的标签不需要显示出来。请顺便检查一下其他有没有标签下课程为空的情况，如有，这些标签也不需要显示。
- [ ] 1.3   课程学习页面，目录里客户服务的那一栏，二维码图片应修改完最新的图片。
- [ ] 1.4   将ios中课程详情页分享至微信好友，好友在微信中打开链接并登陆付款，选择“支付宝支付”，跳转至手机中的其他浏览器，显示系统异常，无法成功支付。（可能的原因：微信浏览器中登陆账号与其他浏览器中登陆账号不一致） - Alice

[2018-11-03 05:43] #471 closed, assigned to kimliss, Willingkong

[2018-11-03 05:44] #467 closed, assigned to kimliss

[2018-11-03 06:30] zhuyichun commented on #415
### 购买
- [ ] 积分
- [ ] 优惠券
- [ ] 微信:优惠券+积分
- [ ] 支付宝:优惠券+积分+现金
- [ ] 微信:优惠券+积分+现金
- [ ] wechat:优惠券+积分+微信
- [ ] wechat:优惠券+积分+支付宝

[2018-11-03 07:13] #451 closed, assigned to kimliss, zhuyichun, JENNY-BSTCINE

[2018-11-03 07:49] iYuanYuan2 commented on #457
## v2.3.4 第四次补丁 官网测试反馈
### ios

[2018-11-03 08:44] joelin109 commented on #472
#465

[2018-11-03 08:49] joelin109 opened #473 "API-商城: 2级页面-在线私塾&托福SAT&分级阅读的后台配置及API"
## 2级页面的后台配置及API
- [x]  1.1 PC-后台管理: 商城后台-课程管理- 口碑好评上传维护   - `Kim`   #472
- [x]  1.2 PC-Admin: 维护流程   - `From Kim` - 'Verified'
#### step1: 添加 `ConfigSubPage` 维护配置表 [SystemConfigWebFinal](http://dev.bstcine.com/table/SystemConfigWebFinal)
[code]
#### step2: 配置管理菜单
[code]

- [ ] 1.3 PC-Admin: 后台配置  - 'Verified'
[code]
- [x] 1.4 提供2级页面的API：/api/content/subpage  `- Kim` - 'Verified'
[code]
- [x] 1.5

[2018-11-03 09:07] zhuyichun commented on #472
交互：http://192.168.1.171:8080/kbhp/index.html

[2018-11-07 06:03] joelin109 commented on #378
### Component Demo
- 路径： https://dev.bstcine.com/widget/card
- [ ] 1.1. PWA功能- 可以离线缓存
- [ ] 1.2. 可以WeChat分享
- [ ] 1.3. H5页面可以与APP交互
- [ ] 1.4. UI Style 可以随意切换
- [ ] 1.5. Demo: CDrawer & CModal
- [ ] 1.6. Demo: CFloating-各种应用场景（兼容多端及多个）

[2018-11-07 07:16] kimliss commented on #472
## 开发
### SQL
- [x] WWW
- [x] DEV
#### 1. 口碑图片评论表
[code]

#### 2. 新增口碑图片大小
- [x] WWW
- [x] DEV
[code]

[2018-11-07 08:06] JENNY-BSTCINE commented on #457
### 2、安卓
- [ ] 2.1 优化：我的下载里没有“正在下载”和“已下载”标识，建议增加区分；-Eelin

### 安卓和IOS：
- [ ] 1、已经被退出后的nologin提示不明显，建议直接弹出登录界面
[code]
- [ ] 2、h5购买界面可以下拉选择优惠券码  - 优化

[2018-11-07 08:49] zhuyichun commented on #457
- [ ] 1、已经被退出后的nologin提示不明显，建议直接弹出登录界面
- [ ] 2、h5购买界面可以下拉选择优惠券码  - 优化

[2018-11-07 10:43] zhuyichun commented on #457
andr 积分规则页面显示问题

[2018-11-07 11:13] JENNY-BSTCINE commented on #457
安卓
1、点击某门课程的目录里的 版权声明、客户服务、学习资料下载、本章习题这些页面以及积分规则的页面，页面显示奇怪，一页显示不全。

[2018-11-08 03:23] #463 closed, assigned to kimliss

[2018-11-08 03:55] joelin109 commented on #470
### 1 、IOS
- 1.3 私塾学生，老师布置了一门课程的任务学习，学生没有购买该课程，课程不能观看，但是可以做练习，逻辑 不对。-Alice - `P3`

[2018-11-08 05:59] joelin109 opened #474 "iOS-iPad：V-2.4.2（包含私塾模块&核心词汇）"
## 需求
### Must fix
- [x] 1.1 学习系统：课件播放页- 一个lesson里的不同的ppt不能自动翻页播放。例如点击英美报刊20篇课程的lesson3，课程播放时PPT5播放完后不能自动切换到PPT6. 试过换过多个网络也还是有这个问题。
[code]
- [x] 1.2  学习系统：学习首页- 核心词汇下面空隙太大  -`jerry` -`P1` - @daweilv -Verified
[code]
- [x] 1.3、学习系统：课件播放页-点击右边富文本类型的Lesson（比如PDF下载），在显示的富文本中点击“下载答案“没有反应 -Verified
[code]
-  [x] 1.4-3.4 分享详情页给微信好友、朋友圈闪退  -`P1` - `Jerry`  -Verified
-  [x] 1.5. 个人设置：用户头像直接保持图片到OSS，然后把图片路径

[2018-11-08 06:03] joelin109 commented on #440
duplicated issue #474

[2018-11-08 06:03] #440 closed, assigned to AaronLiDangkun

[2018-11-08 09:19] joelin109 commented on #473
### 测试反馈
- [x] 1. 核心课程: 已选的线上课程, 如果下架或没有PC显示权限的课程将不显示在UI - `Joe` - 'Verified'
- [x] 2. 录课老师: 需要teacher_id, 私塾简介， 老师状态，是否私塾信息 - `Joe` - 'Verified'
- [x] 3. 在线私塾老师获取的不是私塾老师简介 - ‘jerry’- 'Verified'
[code]
- [x] 4.托福sat老师获取不齐全（杨挚（James））没有看到- 'Verified'
- [x] 5. API-商城: 2级页面-分级阅读  - 'Joe' - `P1-- 'Verified'
[code]
- [x] 6. 口碑好评: 图片路径需要是全路径（因为有的图片在Server，相对路径无法做识别）- 'Joe'- 'Verified'
[code]
- [x] 7. PC

[2018-11-09 03:28] zhuyichun commented on #457
- [ ] 1.访问有个人头像的页面，头像有2次刷新如个人中心 -jerry

[2018-11-11 02:30] zhuyichun commented on #473
#### 二级页面口碑好评获取
分级阅读->文学阅读好评
托福/sat->托福好评+SAT好评
在线私塾->私塾好评（待上架）

[2018-11-12 09:00] daweilv commented on #275
![default](https://user-images.githubusercontent.com/7405300/48336882-60e97780-e69c-11e8-8824-1204802b722b.png)

[2018-11-12 09:05] joelin109 opened #475 "H5-登录与注册: 2级页面-合作学校 （可后台配置）"
### PC-Admin - 后台配置 ==>  [Link](https://dev.bstcine.com/table/School)     - `Kim`
- [x] 1.1、后台配置页面   (路径: `前端管理`-`合作学校`)
[code]

<br>
<br>

### 需求 - `From Shaun Email`
[code]
- [x]  2.1、合作学校列表界面： - 'Kim'
[code]
[code]

- 2.2、学校登录界面：- `David`
[code]

<br>
<br>

## Deadline
[code]

<br>
<br>

## 交互：
### 前端
https://pro.modao.cc/app/JGKIjv5v9bhGTJtGxshhfGJKQG1MEFI#screen=sA4099CB7761542015983952
[code

[2018-11-13 01:48] zhuyichun commented on #475
需求澄清：
1、点击学习logo跳转的对应学校链接来源？

[2018-11-13 06:12] joelin109 commented on #474
##  测试反馈 -待解决
### 学习系统
- [x]  1.7 非私塾会员登录后 学习首页核心1000次下面空隙太大了  -jerry -P1
[code]
- [ ] 1.10 优化：测试10000词汇的时候，感觉读单词的声音不是很好听，有时声音时大时小，有时还感觉不是同一个人的声音，可以优化体验。-Eelin -p2
[code]
- [x] 1.11 私塾作业: 点击私塾作业 本周作业区域块会消失再次加载。-jerry  -p4
[code]
- [ ] 1.16 学习中心我的课程不能显示 -jerry -bug -p1
[code]
- [x] 1.17 课程不能打卡，打卡出现APP闪退。 ---20181211 by Eelin P1 bug
[code]

<br>

### 商城
- [ ] 2.1 商城里少儿阅读板块有音频朗读版类别，但是没有对应的音频，理论是有对应的音

[2018-11-13 06:13] joelin109 commented on #474
## 商城 - 测试反馈
- [ ] 2.1

[2018-11-13 06:14] joelin109 commented on #474
## 测试反馈-已解决1
### 学习首页
- [x] 1.1 点击学习首页→核心词汇→善恩核心10000词汇 1-1000，点击第一组→立即学习，第一个单词播放时总是没有声音 -Jenny
- [x] 1.2 点击学习首页→核心词汇→善恩核心10000词汇 1-1000，点击第一组→词汇测试，每次点击测试单词前，选项中有个蓝色的颜色条，容易引起混淆。-Jenny
- [x] 1.3 点击学习首页→本周作业→习题动物农庄 Chapter/Exercise PDF，提示语显示不全，应改为“请登录网址：www.bstcine.com下载 -Jenny
- [x] 1.4  点击学习首页-我的课程-个别课程如，小王子 哈利波特，疯狂学校2 显示“视频播放异常，请刷新后重试”，但“神奇树屋1,2,3，疯狂学校1可以正常打开，不排除其他课程也可能会出现类似情况。-Eelin
- [x]  1.5 私

[2018-11-15 07:58] Willingkong commented on #465
### 1. PC 版调整

说明：
1. 目录：调整为横版，页面滚动时在顶端悬停。
2. 分级阅读：核心课程板块——目前对应官网上两个tab(少儿原版阅读和英文名著精读)，图片和下方主标题可点击跳转对应tab。下方小标题——系统自动抓取每个tab下的分级类目，（如果可以的话最好也能跳转）
3. tab页内容：每个tab页内容（核心课程，录课老师，口碑好评，精彩文章，资料下载），单独成为一个页面，不再像之前设计的一样在一页内滚动，点击上方tab页目录，跳转到对应页面。
tab页面中无需再出现小标题，所有内容展开，无需“更多”按钮。
（下图仅供参考，需要切分后放在不同tab页面中，并且删除下方页面中的小标题）。
![-](https://user-images.githubusercontent.com/33111306/48538448-786c6e80-e8ef-11e8-9235-cb

[2018-11-16 09:49] #472 closed, assigned to kimliss

[2018-11-16 10:23] zhuyichun commented on #465
- [ ] 1.分级阅读返回的分类缺失排序

[2018-11-19 03:47] itwangxiang commented on #459
# 开发

## SQL

- [ ] WWW
- [ ] DEV

[code]

[2018-11-19 03:52] kimliss commented on #475
# 开发

## SQL

### 合作学校表

- [x] WWW
- [x] DEV

[code]

[2018-11-21 02:11] zhuyichun commented on #415
### 播放
- [ ] 拖动播放是否正常
- [ ] 全屏播放按钮是否正常
- [ ] 纯视频播放是否正常
- [ ] MP3+图片播放是否正常
- [ ] 切换lesson播放
- [ ] 切换tag播放
- [ ] 播放到最后一个tag自动弹出打卡(有练习tag直接进入练习)
- [ ] 播放到最后一个tag自动弹出打卡
- [ ] 课件正常播放，点击右上角‘学习打卡’ 页面是否播放
- [ ] 课件正常播放，点击右上角‘学习打卡’ ，取消分享
- [ ] 课件正常播放，点击右上角‘学习打，成功分享后

[2018-11-21 02:30] zhuyichun commented on #470
- [ ] 课件播放-学习打卡成功分享后自动返回播放页面，提示‘你已取消分享’

[2018-11-22 08:35] #473 closed, assigned to kimliss

[2018-11-23 03:11] joelin109 commented on #275
## 测试用户基本的Case
[code]
### 一个WeChat
- [x] 1.1.1. 没有注册过Cine的新用户
[code]

- [ ] 1.2.1 注册过一个Cine账号：无手机号的用户
[code]
- [x] 1.2.2 注册过一个Cine账号：有手机号的用户
[code]

- [ ] 1.3.1 注册过多个Cine账号：手机号不同的用户
[code]
- [ ] 1.3.2 注册过多个Cine账号：手机号有重复的用户
[code]
### 多（2）个WeChat
- [ ] 2.2.1 注册过一个Cine账号：无手机号的用户 - `p3`
[code]
- [x] 2.2.2 注册过一个Cine账号：有手机号的用户
[code]
- [x] 2.3.1 注册过多个Cine账号：手机号不同的用户
[code]
- [x] 2.3.2 注册过多个Cine账号：手机号有重

[2018-11-23 03:45] zhuyichun commented on #415
## 测试用户基本的Case
### 一个WeChat
- [ ] 1.1.1. 没有注册过Cine的新用户
- [ ] 1.2.1 注册过一个Cine账号：无手机号的用户
- [ ] 1.2.2 注册过一个Cine账号：有手机号的用户
- [ ] 1.3.1 注册过多个Cine账号：手机号不同的用户
- [ ] 1.3.2 注册过多个Cine账号：手机号有重复的用户
### 多（2）个WeChat
- [ ] 2.1.1. 没有注册过Cine的新用户 - `p3`
- [ ] 2.2.1 注册过一个Cine账号：无手机号的用户 - `p3`
- [ ] 2.2.2 注册过一个Cine账号：有手机号的用户
- [ ] 2.3.1 注册过多个Cine账号：手机号不同的用户
- [ ] 2.3.2 注册过多个Cine账号：手机号有重复的用户  - `p3`

[2018-11-23 03:50] zhuyichun commented on #415
- [ ] 1、修改密码：提示出错（提示系统异常）
- [ ] 2、修改密码：不应该有‘登录’按钮

[2018-11-23 08:29] zhuyichun commented on #275
## 测试反馈-问题
- [x] 1.1. 登录后-个人中心-修改密码：重置密码弹出框中不应该有‘登录’按钮-'verified'
- [x] 1.2. 个人中心：用户头像如果保存到OSS.  存放路径应该是`static-cine`, 不应是`static-bstcine`
[code]
- [ ] 1.3. 微信中访问网站提示近期你已经授权过，直接跳转到登录善恩页面，只能点击登录 不能选择其他手机号登录
[code]
-  1.4 注册过一个Cine账号：有手机号的用户 -'verified'
[code]
<br>
<br>

## 测试反馈-新需求
- [x] 2.1. 个人中心：菜单下拉列表- 添加一个功能 “绑定WeChat” -'verified'
[code]
- [x] 2.2. 个人中心：菜单下拉列表- 添加一个功能 “绑定手机”
[code]

<br>
<br>

[2018-11-26 02:08] eelyn-huang commented on #145
### 5、注册
- [ ] ...

[2018-11-27 02:38] itwangxiang commented on #457
# 手机重复数据处理
[code]

[2018-11-27 10:32] zhuyichun commented on #275
### 已登录
社交账号页面仅仅提示暂未绑定微信，需要有个绑定的链接

[2018-11-28 02:47] zhuyichun commented on #275
#### 20181128
- [ ] 1.微信扫码不能登录
[code]

[2018-11-28 05:45] zhuyichun commented on #474
#### 20181128
- [ ] 1.首页登录后，鼠标悬浮在‘我的’，交互样式不对
[Uploading 1543383773905.jpg…]()

[2018-11-28 07:23] joelin109 opened #476 "异常数据：用户表中有许多重复手机号的数据"
- 手机号一致，还没出来需要尽快处理 2018-11-02

针对表 `d_user_order` 中的数据（重复的手机号），给出解决方案。

Deadline: 2018-11-26

[code]

[2018-11-28 07:26] joelin109 commented on #476
# 手机重复的账户
## Solution - `From Kim`
### step 1 : 执行如下SQL
- 将重复数据提取到 `del_user_repeat_phone` 表

[code]

### step2:  执行如下SQL：
- 筛选待删除账户

[code]

### step3:  执行如下SQL：
- 处理结果

[code]

[2018-11-28 07:28] zhuyichun commented on #457
## 20181128 测试反馈
- [x] 1.首页登录后，鼠标悬浮在‘我的’，点击交互样式不对[1543383773905](https://user-images.githubusercontent.com/20130469/49131658-f3804c80-f313-11e8-9858-f3770301d926.jpg)
-  2.未绑定微信的账号通过账号登录，点击我的社交，显示社交账号：暂未绑定微信。是否添加绑定按钮[1543385521439](https://user-images.githubusercontent.com/20130469/49132493-9ab2b300-f317-11e8-8d8b-aa87c6f95850.jpg)
[code]
- [ ] 3.在pad浏览器中社交账号、绑定手机页面样式不对[wechatimg9](https://user-im

[2018-11-29 01:31] kimliss commented on #476
# 旧表 - 手机重复数据处理  `From Kim`
[code]

## Solution

[code]

[2018-11-29 09:45] #465 closed, assigned to AaronLiDangkun

[2018-11-29 09:49] #275 closed

[2018-11-30 05:38] #475 closed, assigned to kimliss

[2018-11-30 06:13] #466 closed, assigned to AaronLiDangkun

[2018-12-03 01:36] #464 closed, assigned to kimliss

[2018-12-03 02:07] joelin109 opened #477 "API-Admin: 目前有许多Admin的API不能正常使用。比如优惠卷合并&私塾词汇任务分配等"
## 项目中一些API无法正常使用
- [x] 1. 优惠券合并  - `For 小助手`  - `Verified`
[code]
#### Solution
[code]

<br>
<br>

- [x] 2. Golang 小工具
[code]
#### Solution
[code]

<br>
<br>

- [x] 3. PC-Admin： 一些操作无法正常进行 - `Jerry`
[code]

#### status
- [x] API已全部授权 OK。
- [x] 重复API 待处理 @朱屹春Jerry

[2018-12-03 07:24] zhuyichun commented on #474
### 20181203
#### 播放页面
- [x] 2.1人类故事Ch1Lesson1练习tag题干格式不对
[code]
- [x] 2.2、人类的故事Chapter3：打开chapter-3Exercise 显示富文本内容，但点击富文本中“下载答案“没有反应
[code]
#### 下载
- [ ] 3.1断网后恢复网络,正在下载列表中的课程不能正常下载
[code]

[2018-12-05 02:19] joelin109 commented on #476
### 目前状态：
- 大多数重复手机已解决
- 遗留重复的手机号
[code]

[2018-12-05 02:19] #476 closed, assigned to kimliss

[2018-12-05 05:52] #425 closed, assigned to nobody

[2018-12-05 05:53] #431 closed, assigned to zhuyichun

[2018-12-05 05:55] #333 closed

[2018-12-05 05:56] #291 closed

[2018-12-05 05:58] #266 closed

[2018-12-05 05:58] #234 closed

[2018-12-05 06:42] kimliss commented on #477
## 检查校验结果：
#### 尚未配置的 API
[code]

#### 重复的 API
[code]

[2018-12-05 09:59] joelin109 opened #478 "pwa-代码规范：基本通用的组件 & UI优化 & Util规范"
## 需求
- [x] 1. PWA-Util：把最最通用的util列出来 （确认好后，调整到util/_base) - `Verified`
[code]
- [x] 2. CIcon 组件 （通用）
[code]
- [x] 3. CWindow 组件 （通用）- `Failure`
[code]
#### 4. Demo-widget/csub：Demo页面需包含最常见的功能
- https://dev.bstcine.com/widget/csub
- [x] 4.1.  PWA功能, 没有网络也可以正常显示
[code]
- [x] 4.2.  微信扫码分享：点击显示二维码, 微信扫码分享
- [x] 4.3.  与APP交互：APP与H5可接收到互相传递的信息 - `KTH5为Demo`
- [x] 4.4.  CWindow Demo
[code]

<br>

- [x]

[2018-12-06 03:30] joelin109 commented on #478
### 详情页- 底部显示咨询按钮
![4461539766649_ pic](https://user-images.githubusercontent.com/23466882/47080463-9f754900-d23a-11e8-827d-b19ab3008eb2.jpg)

[2018-12-06 06:20] #343 closed

[2018-12-06 09:59] #477 closed, assigned to kimliss, zhuyichun

[2018-12-10 03:35] zhuyichun commented on #474
20181210
#### 后台配置
- [x] 1.1营销活动-弹窗通知管理：类型选择通知，跳转内容类型是H5链接时候，用户收到短息，点击打开闪退  -bug -p1
#### 学习首页
-  [ ] 2.1视频任务学习完后弹窗选择继续学习下一课，私塾任务状态也应该更新  -建议

#### 商城
-   3.1竖屏课程详情页双十二活动的图标位置压到分割线了 -bug
-  3.2点击双12图标进入的活动页面最好添加上方空隙 -优化
-  3.3竖屏点击双12图标进入的活动页面上划后下方空白-优化
-  [x] 3.4分享详情页给微信好友、朋友圈闪退 bug-P1 -Verified
#### 支付
-  [x] 4.1结算中心不能获取课程图片 - bug- p1 -Verified
-  [ ] 4.2：课程198使用197.99积分用支付宝支付后返回到善恩收银台卡顿不动 -bug -

[2018-12-10 06:32] joelin109 opened #479 "Realese-v2.5.0: 测试发现新问题的反馈列表"
## P0           - `紧急需立刻解决`
- [x] 01.  学习系统: Lesson播放页-记录用户在每个课程上的实际学习时间异常  - `Kim`
[code]
[code]

<br>
<br>

## P1           - `Must fix`
- [x] 1.1  H5: 添加PV& UV 统计数据 - 2018-11-28 - `David`
[code]
- [x] 1.2. 登录与注册:  同一账号可以在多端设备登录&学习  - `David`
[code]
- [ ] 1.3. PC-OSS: 非课件的Media资源迁移遗留问题   (更多细节看 #326）- `David`
[code]

- [ ] 1.4. PC-Admin: 私塾管理-师生对应关系的列表显示  - `Kim`
[code]

<br>
<br>

## P2

[2018-12-10 06:32] joelin109 commented on #479
## 已解决 in www
- [x] 1.2.  图片配置:  私塾老师的分享头像 都设置为OSS(https)- `David`
[code]

<br>
<br>
<br>

## 学生全部作业
#### 学生查看模式
![stutasksforstu](https://user-images.githubusercontent.com/23466882/42740558-b66b65fc-88db-11e8-89da-19323cd2eb6f.jpg)

[2018-12-10 06:39] #422 closed, assigned to kimliss, zhuyichun

[2018-12-10 06:40] #170 closed

[2018-12-10 06:40] #137 closed

[2018-12-10 06:41] #64 closed

[2018-12-10 06:42] #180 closed

[2018-12-10 06:44] #89 closed

[2018-12-10 06:44] #159 closed

[2018-12-10 06:45] #365 closed

[2018-12-10 06:46] #164 closed

[2018-12-10 06:48] #72 closed

[2018-12-10 06:48] #384 closed

[2018-12-10 06:55] joelin109 opened #480 "PC-后台管理: 优惠券创建&维护的优化"
## PC-后台管理：优惠券创建页面  - `Jerry`
### 功能添加：
[code]
![1544151391795](https://user-images.githubusercontent.com/20130469/49625047-e5ff4c80-fa0e-11e8-884b-44df32a714fa.jpg)

### 澄清解释
1. 点击 `生成默认描述` 后，如果课程有修改，需要重新点击 `生成默认描述`

[2018-12-10 09:19] #450 closed, assigned to AaronLiDangkun

[2018-12-10 09:22] #128 closed

[2018-12-10 09:23] #461 closed, assigned to daweilv

[2018-12-10 09:24] #404 closed, assigned to joelin109

[2018-12-10 09:29] joelin109 opened #481 "cine.kth5：使用纯H5页面的Android 规范Demo"
## 需求
项目：https://github.com/bstcine/cine.kth5
[code]
- [x] 1. 一级页面：学习 & 商城 & 用户 - `使用H5`
- [x] 2. 一级页面：用户登入-只需要登入，不包含注册&修改密码等  - `使用原生`
- [x] 3. 一级页面：添加一个Demo- 链接H5：https://dev.bstcine.com/widget/csub`
[code]
- [x] 4. 一级页面：DemoH5, 在没有网络的情况下也可以正常显示
- [x] 5. 二级页面：学习首页 & 商城首页 点击打开新二级页面(H5)窗口  - `Failure`
- [x] 6. 代码规范：配置
[code]

<br>
<br>

### 技术栈
1. 架构 - MVP
2. 响应式编程(异步数据流) -  RxJava
3. 网络请求库 - Retr

[2018-12-11 02:09] #330 closed

[2018-12-11 02:10] #268 closed

[2018-12-11 02:48] #121 closed

[2018-12-11 02:50] #415 closed, assigned to nobody

[2018-12-11 02:53] #179 closed

[2018-12-11 08:30] joelin109 opened #482 "H5-学习系统: 私塾模块&词汇模块&课件学习模块- 第4阶段"
### 1. PC-Admin：基础数据  -`Kim`
- [x] 1.1 收集记录用户在每个课程上的实际学习时间。 具体细节， #386 #387

<br>
<br>

### 2. 学习系统 - `David`
-  [ ]  2.1. H5-学习系统：课程播放页- 当前页可显示课件播放 & 习题 & 词汇学习 #436   - `P2`
-  [ ]  2.2. H5-学习系统：课程播放页- 对视频课件可添加维护“知识点”标签   #439    - `P2`
[code]

<br>
<br>

### 3. 学习系统 - 词汇模块 -`Aaron`
-  [ ]  3.1. H5-学习系统: 词汇学习- Chapter&Lesson对应的词汇  #438  - `P3`

<br>
<br>

### 6. 网站数据统计分析
#### 6.1. 用户课程学习情况
用户 | 课

[2018-12-11 08:32] #459 closed, assigned to nobody

[2018-12-12 06:58] JENNY-BSTCINE commented on #457
2018/12/12
安卓APP：点击商城→托福口语精讲课程→试听→全屏显示，显示白屏；无论wifi还是4G情况下都是这样，并且其他课程都是这样。-Jenny

[2018-12-14 10:01] zhuyichun commented on #457
###  安卓测试反馈
- [ ] 2、试听课程的全屏，不能切换成 ”横屏“，感觉视觉体验和不全屏没啥两样

[2018-12-17 06:24] #474 closed, assigned to AaronLiDangkun

[2018-12-17 06:34] #216 closed

[2018-12-17 06:35] #189 closed

[2018-12-17 07:19] #127 closed

[2018-12-17 07:31] zhuyichun commented on #479
- [ ] 部分lesson名称需要调整：
#### reason:
- 名称不规范，iOS APP 课件目录页会出现提示或显示异常 （详情请看问题6）
#### solution:
- 将下面列出的lesson名称按照约定的规则修改（名称要包含 `下载` or `习题` or `PDF`）
[code]

[2018-12-17 09:05] #457 closed, assigned to zhuyichun, AaronLiDangkun, Anawangqi, Willingkong, JENNY-BSTCINE, iYuanYuan2

[2018-12-19 03:13] zhuyichun commented on #479
### 20181219
- [ ] 1、后台管理-商城后台-课程管理-课程：课件制作：课件批量上传失败、课件单个文件上传失败

[2018-12-19 07:23] joelin109 opened #483 "Android：V-2.4.3 补丁版本"
### Must fix
- [x] 1.1 AndroidAPP-购买：新购买课程成功后，跳到学习首页，新课程没显示。 - `Kim`  -verified
[code]
- [x] 1.2 AndroidAPP-下载： 新课程购买成功后，学习首页点击新课程，然后开始下载课件。但是在“我的下载”里没显示该课程。 - `Kim` -verified
- [x]  1.3 学习系统：课件播放页-如果是已经下载的Lesson课件，没有显示”练习“  -verified
[code]

<br>
<br>

### Status

#### 待测试 2018-01-03

### Deadline

#### 2019-01-04

[2018-12-19 10:21] joelin109 commented on #374
善恩后台-私塾管理-师生对应关系
[code]

[2018-12-19 10:28] kimliss commented on #467
## 抽奖活动配置
step1: https://dev.bstcine.com/table/PromoteActivity
step2: 配置
![image](https://user-images.githubusercontent.com/7286154/50214569-9aa84f00-03bb-11e9-9df8-65653e5c8d75.png)
![image](https://user-images.githubusercontent.com/7286154/50214828-2f12b180-03bc-11e9-836f-4cedb2d91d55.png)
[code]

[2018-12-20 01:53] JENNY-BSTCINE commented on #374
登录后台管理操作时，每隔几分钟不操作了，就被退出后台，需要重新登录才能操作，时间间隔太短，非常不方便。-Jenny

[2018-12-20 03:39] zhuyichun commented on #470
私塾学生学习首页点击打卡跳转到微信的中间有过渡界面-bug p1

[2018-12-20 09:09] kimliss commented on #467
## 抽奖活动需要提供的数据

### 可配置信息

1. 活动生效时间与截至时间
2. 活动参与的课程信息 （换句话说就是哪些课程可以抽奖）
3. 活动抽奖的优惠券截至时间
4. 活动页面的标题 （ - 体现在用户打开活动页面时，微信顶部标题栏显示的内容 ）
5. 活动分享标题/副标题（ - 体现在当用户把活动分享给好友时显示的标题 ）

### 不可配置的信息 （不调整代码的情况下）

1. 抽奖规则
2. 活动说明
3. 抽奖提示语

[2018-12-24 09:41] #405 closed, assigned to daweilv

[2018-12-25 02:18] #378 closed

[2018-12-25 06:30] zhuyichun commented on #470
### 下载模块
-  [x] 1、下载中进度没有，状态要么0，要么已完成，下载过程耗时久 -verified 20190104 Eelin

- [ ] 2、我的下载-下载中：这门课程已经有下载记录的点击下载其他lesson 列表显示的文件大小与这条信息明细中大小不一致 -verified 20190104 Eelin
[code]
- [x] 3. 当下载lesson很多时，此时执行删除操作，界面会卡顿在原地，直到删除完成后，才能继续操作 -verified 20190104 Eelin

[code]

[2018-12-25 09:34] #482 closed, assigned to nobody

[2018-12-27 08:50] zhuyichun commented on #470
### 学习
- [x] 1、学习页面打卡扫码后没有反应，需要手动点击空白地方提示打卡成功 （手机没安装微信） -verified 20190104 Jenny
-  2、安装微信后：学习页面点击学习打卡。进入微信分享页面
[code]

- [x] 3、学习首页打卡，连续不停的点击“打卡”按钮,有较低概率出现不能调起微信的现象。 -aaron
[code]
- [ ] 4、人类故事详情页试听全屏播放来回拖动播放会出现黑屏 -jerry
[code]
- 5、学习首页-课程学习拖动播放球不能拖到起始位和结束位置 -jerry
[code]

[code]
-  6、点击夏洛特的网‘’学习资料下载‘’-'Letter From EB White'节点，也没显示一串文件路劲  - jerry
[code]

[2018-12-28 02:06] zhuyichun commented on #470
### 2018-12-28
- [ ] 1、下载的人类故事MP4类型课件，播放黑屏

[2018-12-29 02:56] #481 closed, assigned to kimliss

[2019-01-03 05:54] JENNY-BSTCINE commented on #483
- [x] 1.4 AndroidAPP-核心词汇：点击核心10000词汇：1001-2000第21组，点击 立即学习，然后点击返回按钮
”←善恩核心10000词汇“，没有返回到上一级 立即学习和立即测试的页面，而是直接返回到 核心10000词汇：1001-2000 的页面。这种跳级返回，感觉不太合理。-Eelin   --verified
[code]
-  1.5 课程里配套的下载资料和下载的习题，安卓APP上之前一直可以直接点击，然后跳到浏览器上下载了。但是现在测试网点击都打不开下载不了，不清楚是否改了需求还是怎么样？建议还是按原先那样，可以点击下载比较好。-Jenny   verified -Eelin
[code]
- [x] 1.6 学习系统：课程目录页面- 配套的下载资料和下载的习题，无法正常下载且打开 - `Joe`   verified-Jenny
[code]

[2019-01-03 05:58] eelyn-huang commented on #483
1.6 词汇量测试：有些单词没有对应匹配的释义。-Eelin

[2019-01-03 09:36] kimliss commented on #326
## SQL

### 1. 解决图片路径溢出
- [x] WWW
- [x] DEV

[code]

### 2. 解决文件上传：文件类型太长

- [x] WWW
- [x] DEV

[code]

[2019-01-07 10:17] AaronLiDangkun commented on #470
## 部分lesson名称需要调整：
### reason:
- 名称不规范，iOS APP 课件目录页会出现提示或显示异常 （详情请看问题6）
### solution:
- 将下面列出的lesson名称按照约定的规则修改（名称要包含 `下载` or `习题` or `PDF`）
[code]

[2019-01-09 05:45] #478 closed, assigned to daweilv

[2019-01-09 06:11] joelin109 opened #484 "技术部门：201901- Separation交接列表"
## Must fix
### iOS （Deadline：2019-01-11）
- [x] A.1. iPhoneAPP: V-2.4.3 补丁版本 -  `2019-01-10` - Aaron #470  - `Verified`
[code]
- [x] A.2. iPadAPP: V-2.4.3 代码正常运行
### Android （Deadline：2019-01-09）
- [x] B. Android：V-2.4.3 补丁版本 - `2019-01-09` - `Kim`  #483  - `Verified`
[code]

### 通用
- [ ] 1.1.  APP- PV & UV 的查看文档   - `Kim`     [文档路径] (https://github.com/bstcine/help/wiki/APP%E7%AB%AFPV&UV%E7%9A%84

[2019-01-09 09:16] #483 closed, assigned to kimliss

[2019-01-09 09:16] joelin109 commented on #483
#484

[2019-01-09 09:17] joelin109 commented on #470
#484

[2019-01-10 02:09] #470 closed, assigned to AaronLiDangkun

[2019-01-10 02:11] #326 closed

[2019-01-11 06:42] joelin109 commented on #484
### iOS APP-V2.4.3 发布前测试反馈：
- [ ] 3.1 IOS下载内容删除问题  -20190111  by Eelin
[code]

[2019-01-11 06:54] #433 closed, assigned to AaronLiDangkun

[2019-01-11 07:59] #480 closed, assigned to kimliss

[2019-01-16 04:04] AaronLiDangkun commented on #484
####  更换 iPhone 项目证书
---
##### 一、检查证书过期时间

1.1. 登录极光开发者平台,查看产品“设置”信息
<img width="1440" alt="1" src="https://user-images.githubusercontent.com/26997820/51225259-b4ba5a80-1984-11e9-9373-c297667f9d9f.png">

1.2. 查看推送设置
<img width="1440" alt="2" src="https://user-images.githubusercontent.com/26997820/51225292-d3205600-1984-11e9-841a-e28b95737215.png">

1.3. 展开iOS，显示推送信息
<img width="1440" alt="3" src="

[2019-01-17 01:50] eelyn-huang commented on #79
问题：同一账号允许多端登录  20190117 by Eelin
[code]

[2019-01-17 06:04] AaronLiDangkun commented on #484
[code]

### 1.查看证书过期时间
---

1.1. 登录Apple开发者中心
https://idmsa.apple.com/IDMSWebAuth/signin?appIdKey=891bd3417a7776362562d2197f89480a8547b108fd934911bcbea0110d07f757&path=%2Faccount%2F&rv=1
<img width="1410" alt="1" src="https://user-images.githubusercontent.com/26997820/51298705-8611b200-1a60-11e9-998f-57b34198e2aa.png">

1.2. 选择Certificates Identifiers&Profile 按钮，查看证书列表，如果有证书即将过期，则需要及时更换新的证书，以免证书过期

[2019-01-17 08:07] AaronLiDangkun commented on #484
2.1.4 创建CSR文件并继续

[2019-01-22 03:39] daweilv commented on #374
## 1、后台管理优化
-  1.1：活动产品图片及价格可以预先设置  -- 等级高p2
[code]
[code]

- [ ] 1.2 自动创建微信分享信息  - http://www.bstcine.com/table/ShareParam  --优化
[code]

[2019-01-23 07:01] #370 closed

[2019-01-23 07:30] daweilv opened #485 "PC-后台管理：产品发布维护功能"

[2019-01-23 07:31] daweilv opened #486 "PC-后台管理：商城TAB、分类维护功能"

[2019-01-29 03:15] JENNY-BSTCINE commented on #145
### 个人中心
- [ ] 1、建议在订单详情里增加课程有效期的显示。例如点击 个人中心→我的订单→新概念1第一单元订单详情页，可增加一栏课程有效期到期时间。
        另外，如果这边课程到期前一个月，学习首页该对应课程可以有到期标志提醒，提醒是否续期。此功能建议在2020年5月份前完成  - by Jenny 20190129

#### PC
## 购买
- [ ] 2、PC端或网页端购买课程时，建议优惠券那一栏可以增加提示，让用户选择可用的优惠券；-by Jenny 20190129

[2019-02-13 03:13] daweilv opened #487 "H5-学习系统：词汇量&语法测试调整"
1. 词汇量测试&语法测试对公众开放，需要在首页有入口
2. 提交语法测试后系统直接给出判分。导师可以在自动批改结果上再次添加自己的评语。

[2019-02-13 05:48] daweilv commented on #487
关于私塾学生语法测试，可以考虑一个单独的链接，由私塾工作人员发给学员，这个测试就还是允许老师做个性化的点评。

[2019-02-20 03:09] daweilv opened #488 "H5-商城：私塾导师信息浏览"
后台支持维护老师排课表

--- 以下废除
页面三个模块：
1.  私塾老师列表
选中其中一个老师则下方评价、排课联动
需体现的信息：老师头像、名字、收费信息、授课范围、教学视频、优秀学生案例
2. 家长评价
暂定为微信群截图
3. 老师排课
一周*24小时表格形式，暂定为alice维护的excel表格

[2019-02-20 04:03] eelyn-huang commented on #487
### **语法测试反馈**
测试“导师登录后是否可以再次修改该学生评语” 20190220 by Eelin
[ ] 1. 可以修改学生评语但是页面提示不够清晰
[code]

[ ] 2. 编辑完修改内容之后，点击“保存批改”，页面自动跳回，设置不合理
[code]

[ ] 3. 测完发现“保存批改”是仅保存功能，“完成批改”既有保存功能，还有改变“状态”的功能。
这两个功能是不是有点重复？
这两个在页面的显示是“完成批改”-“保存批改”，这个顺序是否应该互换一下？

[2019-02-22 05:51] daweilv commented on #439
![0 _](https://user-images.githubusercontent.com/7405300/53222492-fbe4eb00-36a8-11e9-87d2-a2b7ab39c575.jpg)
![1 _](https://user-images.githubusercontent.com/7405300/53222493-fc7d8180-36a8-11e9-8f2e-b94cd732536c.jpg)
![2 _ _](https://user-images.githubusercontent.com/7405300/53222494-fc7d8180-36a8-11e9-8be3-d29a9ee41e25.jpg)
![3 _ _](https://user-images.githubusercontent.com/7405300/53222495-fc7d81

[2019-02-25 02:30] #487 closed, assigned to daweilv

[2019-03-01 08:16] daweilv opened #489 "PC-后台管理:有效期更改"
/admin/tool/queryOrders

订单查询页面增加对过期订单的颜色标识，并且可以更新有效期

[2019-03-04 02:03] #489 closed, assigned to daweilv

[2019-03-06 08:33] daweilv opened #490 "H5-商城：详情页评论TAB"
- [x] 评价计数
- [x] 样式调整至主流电商
- [x] 导入功能增加评论时间
- [ ] 导入功能增加用户头像
- [ ] 导入功能增加插图
- [ ] 详情页支持图片预览功能

[2019-03-07 09:24] daweilv opened #491 "H5商城：套餐计算公式修改"
套餐折扣率 = 套餐售价 / 套餐原价

套餐的最高价格 = 剩余课程 x 套餐折扣率

[2019-03-08 07:38] #491 closed, assigned to daweilv

[2019-03-11 06:59] daweilv opened #492 "PC-后台管理：富文本编辑器更新"
需要支持快速输入PC端模板、iOS端模板

最终选用ueditor。

可选富文本编辑器如下：

| name                                                              | 价格       | 开源 | star                                              | 备注                         |
| ----------------------------------------------------------------- | ---------- | ---- | ------------------------------------------------- | ---------------------------- |
| [百度 uedit

[2019-03-14 07:28] #374 closed

[2019-03-20 02:12] #492 closed, assigned to daweilv

[2019-03-21 08:37] daweilv opened #493 "H5-商城：主页&详情页优化"
对主页&详情页进行服务端渲染，优化SEO

[2019-03-25 06:32] daweilv opened #494 "PC-后台管理：核心词汇导入&导出功能"
目前缺少一键导入&导出excel功能

[2019-03-25 06:33] #479 closed, assigned to daweilv

[2019-03-27 03:45] daweilv opened #495 "PC-背单词：单词功能支持多种词库"
### 需求描述：
1. 词库分为1、2级：
[code]
[code]

示意图：
![image](https://user-images.githubusercontent.com/7405300/56858301-543ab080-69aa-11e9-86b5-a2cdca529745.png)

2. excel 单词导入功能
[code]

### 功能入口：
<del>1. web&app 首页banner</del>
<del>2. web 学习首页核心词汇旁边</del>
3. web 学习播放页目录，点击’本章单词‘跳转到新的单词系统

[2019-04-09 03:30] daweilv opened #496 "PC-背单词：10000词汇测试顺序修改为随机"
原先每次进入都是和背单词时候一样的固定顺序。现修改为每次进入都随机打乱顺序

[2019-04-09 03:31] daweilv commented on #496
![image](https://user-images.githubusercontent.com/7405300/55771524-002f6100-5abb-11e9-9ee6-bd25f7541d59.png)

[2019-04-25 02:01] daweilv commented on #443
content_word -》content_vocab
content_word_grade -》content_vocab_grade
stats_content_word  -》stats_content_vocab
stats_content_word_detail  -》stats_content_vocab_detail

修改对应相关Controller/Dao/Obj

[2019-04-26 06:45] #496 closed, assigned to daweilv

[2019-04-26 06:46] daweilv commented on #495
### 现阶段4个功能细节：
1. 词汇量测试
表：cotent_vocab
字段：source_type=0
一个正确释义+预设的3个混淆项

2. 背单词起点评估
表：cotent_vocab
字段：source_type=1
一个正确释义+预设的3个混淆项
所有词汇来自都来自3

3. 10000词汇背单词
表：content_dictionary
一个正确释义+当前单词小组内3个同词性混淆项
[code]

4. 背单词任务
表：content_dictionary
一个正确释义+当前单词小组内3个同词性混淆项
即背10000词汇的第 i 个单词到第 j 个单词

[2019-04-26 06:59] daweilv commented on #495
### Q&A
1. 其他词库是否需要【背单词起点评估】？
[code]
![image](https://user-images.githubusercontent.com/7405300/56856968-2b5def80-6999-11e9-80d2-017a923860d4.png)

2. 其他词库的【背单词起点评估】是否与1w词汇相同？
    如相同，“建议从第N个单词开始学习”映射关系是怎样的
    如不同，每次添加词汇都会增加额外数据维护工作。
[code]

3. 用户在背单词的时候只能背2级分类下的单词，不可背1级分类？
[code]

[2019-05-28 01:46] daweilv commented on #495
需要测的两个点：
1. 原有课程的本章单词节点是否跳转到新的背单词系统，整个背单词学习、测试过程是否正常

2. 后台课程维护新增了导入课程单词的入口，测试各种情况下的导入是否正常，导入后是否每个单词都抓取到了发音，整个背单词学习、测试过程是否正常
https://dev.bstcine.com/admin/tool/lessonEditor?id=xxxxxxxxxx

测试反馈（20190529）-Jenny：
- [x] 1. 点击“立即学习”→“已认识”打勾后，在列表式页面没有打勾，且“立即学习”记录的词汇没有减少。
- [x] 2. 点击“列表式”页面，点击“显示全部”按钮后，页面没有任何变化。理论上点击“显示全部”会显示全部单词，如果点击不显示，则页面只显示没有学习的单词。
- [x] 3. 点击“立即测试”，很多单词只显示3个选项，其中有一个选项是空白。例如《疯狂学校1》ch

[2019-06-05 06:48] daweilv opened #497 "H5商城：有赞商城购买的商品自动开通课程"
支持有赞商城购买的商品自动创建用户（如果没有在善恩注册过），并自动开通善恩系统对应课程权限。

测试课程链接：
1. Green Eggs  https://h5.youzan.com/v2/goods/3nfiagzyok868
2. Fox in  https://h5.youzan.com/v2/goods/2frphd7kbk628
3. Ten Apples https://h5.youzan.com/v2/goods/3npamgir7mufk

（目前内部手机号都已经在 dev 上删除，大家都是新用户）
测试流程：
1. 课程1购买后是否在dev上自动注册用户并开通课程，并收到短信通知
2. 继续购买课程2，是否自动开通课程
3. 继续购买课程3，是否自动开通课程

[2019-06-06 07:43] JENNY-BSTCINE commented on #495
- [x] 后台上传本章单词，当单词表Excel第一次导入系统后，在Excel里删除两个单词后重新上传，被删除的两个单词在学习系统的背单词模块里仍然存在。

[2019-06-17 08:09] #497 closed, assigned to nobody

[2019-07-10 08:55] daweilv opened #498 "PC-商城：领取体验课页面"
提供一个页面，输入手机号及验证码后，点击领取，如果手机没注册，那么系统自动注册并开通全部体验课程，如果注册了，开通全部体验课程。

[2019-07-17 03:45] #498 closed, assigned to daweilv

[2019-07-18 08:59] #495 closed, assigned to daweilv

[2019-07-18 08:59] #490 closed, assigned to daweilv

[2019-07-18 09:00] daweilv commented on #488
无效需求

[2019-07-18 09:00] #488 closed, assigned to daweilv

[2020-02-23 07:22] #494 closed, assigned to daweilv

[2020-12-31 03:31] #337 closed

[2020-12-31 03:32] #484 closed, assigned to kimliss, daweilv, AaronLiDangkun